[2017-10-31 19:09] dshaw opened #1 "Add team user-feedback team members to repo"
@hackygolucky I don't appear to have sufficient privileges to add to this repo or create a pull request. Can you see if you added the @nodejs/user-feedback team to users with write access to this repo?

[2017-10-31 19:19] dshaw opened #2 "[PLANNING] User Feedback Meeting Cadence"
During the bootstrap phase of this project, we will need to meet fairly regularly to maintain momentum.

@mhdawson has agreed to act as the champion for this project. Thank you, Michael. He will provide guidance and feedback and act as our representative in the CommComm. Additionally, he will assist with getting our meetings on a the Node.js Foundation project calendar and help setup the Hangout.

[2017-10-31 20:22] hackygolucky commented on #1
lol, -that'-s the part I forgot. It is now done. :)

[2017-10-31 20:22] #1 closed

[2017-10-31 20:35] dshaw commented on #1
Grand. I now have the privileges to get this plan started. Thank you, @hackygolucky.

[2017-11-03 16:46] mhdawson commented on #2
I'd suggest alternating.

[2017-11-04 14:54] dshaw commented on #2
@nodejs/user-feedback I'd love to hear from you. Especially my co-organizers @mikehostetler and @williamkapke. See http://nodejs.org/calendar for details.  I recommend adding it to your calendaring app if you haven't already.

[2017-11-04 15:37] dshaw opened #3 "Feedback requested on user-feedback README"
@nodejs/user-feedback @mhdawson Please review [README.md](https://github.com/nodejs/user-feedback/blob/master/README.md).

I created an initial README for this repo and expected to get prompted to go through the Pull Request workflow. Perhaps since there were no documents yet in the repo, that wasn't an option. My apologies for the direct commit.

Please review https://github.com/nodejs/user-feedb

[2017-11-04 17:45] mikehostetler commented on #2
I'd prefer alternating as well. I'm actively moving some things around on my schedule to make this a priority.  Looking forward to it!

[2017-11-04 19:52] dshaw commented on #3
Recording one 👍 from @williamkapke: https://github.com/nodejs/user-feedback/commit/3bd642959ec58545dc156879de7b3b59b25909b5#commitcomment-25400698

Thank you.

[2017-11-08 15:04] mhdawson commented on #3
+1 from me as well.  There was one minor comment that is worth integrating but overall LGTM

[2017-11-08 16:30] hackygolucky commented on #3
If it can be done fairly quickly, I'd like to see a next-round PR that walks people through what the User Feedback Initiative -is- and a few of the projects that are currently being discussed(the work @dshaw and @jasnell are each driving along with our survey work).

The more explanation and projects we share, the more likely people will light up if they think it is something they have insight to

[2017-11-08 16:39] bnb commented on #3
Generally looks like a good first pass, I have some nits around the language (making it more welcoming and open) - but those can be addressed a bit later in other PRs.

Only other feedback is that generally when people are standard members we don't assign a role to them. Totally +1 to having "advisor" there if that's how the Team wants to label normal members, but in my experience so far with the

[2017-11-08 19:24] dshaw commented on #3
Capturing the "roles" is to enable wayfinding.

Referring to both @bnb and @hackygolucky as advisors is because both expressed that you would not have time to be actively involved.

Noting that we still have not achieved consensus.

[2017-11-11 18:03] dshaw commented on #2
@mhdawson Is there a logic to the times selected for meetings? If so, can you point me to the guidelines?

[2017-11-11 22:46] bnb opened #4 "Add CoC, CONTRIBUTING.md, and Repo Accountability"
For https://github.com/nodejs/community-committee/pull/167 to land, we need a few things to land here first:

- A Code of Conduct - since this is not an independent WG, the [standard Code of Conduct](https://github.com/nodejs/community-committee/blob/master/CODE_OF_CONDUCT.md) structure should be used. Additionally, I _believe_ the team needs to ensuring that all members do not object to the Code

[2017-11-14 23:16] dshaw commented on #4
@bnb @mihaiep has raised his hand to volunteer to add these items. I have added him as a collaborator under settings to enable that with write permissions. Is that in line with expectations on how someone is added?

[2017-11-15 00:33] dshaw commented on #4
@mihaiep After reviewing https://github.com/nodejs/community-committee/blob/master/CONTRIBUTING.md , I think I need to remove you as a Collaborator for now as a matter of process. This means that I won't be able to assign this issue to you, an unfortunate side effect due to GitHub policy. Performing the tasks above will definitely help move toward earning Collaborator status.

[2017-11-15 01:28] dshaw opened #5 "Node.js End User Feedback (NEUF) Meeting 2017-11-14"
# Node.js End User Feedback (NEUF) Meeting 2017-11-14

## Time

UTC Tue 14-Nov-2017 22:00 (10:00 PM)

## Links

* **Minutes Doc**: N/A
* **Previous Minutes Doc**: N/A

## Agenda

Extracted from [neuf-agenda](https://github.com/nodejs/user-feedback/labels/neuf-agenda) labelled issues and pull requests from the [user-feedback](https://github.com/nodejs/user-feedback) repo prior to the meeting.

* Ad

[2017-11-16 01:03] dshaw opened #6 "Node.js End User Feedback (NEUF) Meeting 2017-11-XX"
# Node.js End User Feedback (NEUF) Meeting 2017-11-XX

## Time

TBD

## Links

* **Minutes Doc**: https://docs.google.com/document/d/1oLUDZXxzldphOZKPwINW_SnsViwW51JE6ad-rKwF618/edit
* **Previous Minutes Doc**: N/A

## Agenda

Extracted from [neuf-agenda](https://github.com/nodejs/user-feedback/labels/neuf-agenda) labelled issues and pull requests from the [user-feedback](https://github.com/nodejs

[2017-11-16 01:09] dshaw commented on #2
I created a Doodle to select a date and time for the first formal meeting #6: https://doodle.com/poll/96r9czpw6x9ds7zg
Note times are in Pacific Time if that's not obvious.

/cc @mikehostetler @williamkapke @mihaiep @jasnell @mhdawson

[2017-11-16 01:12] dshaw commented on #6
Doodle for this meeting: https://doodle.com/poll/96r9czpw6x9ds7zg

Please note your availability. Please raise your hand if you'd like to participate.

[2017-11-16 06:23] williamkapke commented on #6
Unfortunately I will be onsite with clients (in St Louis) the week after Thanksgiving.

[2017-11-16 15:55] bnb commented on #4
@dshaw @mihaiep although the GitHub issue can't be assigned to @mihaiep, the contribution and initiative should absolutely be welcomed and is absolutely non-trivial.  Thanks for raising your hand @mihaiep 🙏

[2017-11-16 16:33] mikehostetler commented on #2
Filled out the Doodle. In general, Wednesday mornings and Friday's are best as I work from home those days. Tuesday & Thursday are the worst, as those days I travel into the city.

[2017-11-16 16:37] mikehostetler commented on #3
Replied to the commit with 👍 . For sake of clarity replying here as well.

I also added a PR to include my email address in #7

[2017-11-16 20:24] dshaw opened #8 "Supporting the Node.js 2018 User Survey"
Somebody, I assume @hackygolucky, launched the 2018 User Survey today:

* [Announcement on Medium](https://medium.com/@nodejs/take-our-node-js-2018-user-survey-965011560edb)
* [Direct link to Survey](https://www.surveymonkey.com/r/NodejsUserSurvey)

Let's discuss how we can support this survey effort and bring attention to it in the [areas of focus](https://github.com/nodejs/user-feedback#current-

[2017-11-16 20:46] mhdawson commented on #3
still +1 from me.

[2017-11-16 20:47] mhdawson commented on #2
Oops I assumed it was going to be every 2 weeks at the same date/time as the previous one so I added to the foundation calendar at that time.  Will update once we agree on the real time :)

[2017-11-16 20:49] mhdawson commented on #2
Node for me it said: All times displayed in America/New York

So looks like you enable timezone support and we should each see in our own timezone ?

[2017-11-16 20:55] dshaw commented on #6
Add "#7, Update README To add my email address" to agenda. Let's celebrate our first small win with the first landed PR.

[2017-11-16 20:56] mhdawson commented on #2
Filled out the doodle.  @dshaw in terms of choosing the time the only logic so far has been:

1) try to find a time that is good for all members
2) if no good time exists for all members, rotate the meeting so that members can attend a reasonable subset of the meetings.

[2017-11-16 20:56] dshaw commented on #6
Add #8, Supporting the Node.js 2018 User Survey.

[2017-11-16 20:57] mhdawson commented on #2
Also regular meetings are best (even if the time rotates on a fixed cycle). Having it be different every time is too much work and often means you don't get enough responses to the doodle in time.

[2017-11-16 21:30] dshaw commented on #3
This issue is _almost_ ready to close. #4 captures most of the action items Tierney brought up. I'm leaving this open until I create an issue covering [Tracy's requested additions](https://github.com/nodejs/user-feedback/issues/3#issuecomment-342873274).

[2017-11-16 21:44] dshaw commented on #2
Thank you, @mhdawson. We are aligned.

It looks like Friday is going to be our best time to meet. Now that we have established this single instance. I'd like to get your feedback on turning this into a regular cadence so @mhdawson can add this to the Node.js Calendar. I have added calendar invites for @mikehostetler @williamkapke @mihaiep @mhdawson with recurring instances occurring every 2 weeks.

[2017-11-16 21:44] dshaw commented on #2
My preference is 1. 9am PT.

[2017-11-16 22:29] mikehostetler commented on #2
11am CT / 9am PT is great for me as well.

[2017-11-17 00:18] dshaw commented on #6
Add https://github.com/nodejs/community-committee/issues/153, Benchmarking team request for survey. Questions are ready for outreach.

[2017-11-17 01:50] dshaw commented on #2
Grand.

@mhdawson: Is 1. 17:00 UTC / noon ET / 11am CT / 9am PT on Friday's something you can commit to?

@williamkapke: I know you are unavailable on 12/1 for the next meeting. Have a look at 12/15 and beyond. Is 1. 17:00 UTC / noon ET / 11am CT / 9am PT generally a good time for you?

[2017-11-17 01:59] williamkapke commented on #2
I'll be honest- I'll probably be at Starbucks at that time & still in a morning daze. But then I'll remember while I'm there and rush back and be late.

If you can excuse my likely absentminded tardiness- I'm 👍

[2017-11-27 18:46] dshaw commented on #8
2018 User Survey feedback: “Survey is too long. I’d like to help but after 15 minutes, I gave up.” - https://twitter.com/jaredowenbeck/status/935215157009174528

[2017-11-27 19:49] hackygolucky commented on #8
The survey was launched during Node Interactive back in October by the Node.js Foundation team. To provide some context about what is already being worked on:  requested translations and asks for help with promoting in the ecosystem of communities on Twitter and Medium.  We've also asked the corporate members along with the Marketing Committee specifically, to help with promotion by providing link

[2017-11-27 23:01] dshaw commented on #8
2018 User Survey Feedback: "Additionally, SurveyMonkey keeps on timing out for me, unfortunately." - https://twitter.com/NormanBreau/status/935243593970864129

[2017-11-30 14:46] bnb commented on #4
@dshaw @mhdawson  can you confirm that this is complete? Looking over the repo, it looks like it is - but I'd like to get your feedback before closing this and merging https://github.com/nodejs/community-committee/pull/167

[2017-11-30 15:09] dshaw commented on #4
I added the final item so we can land this. with #11. Let's get it approved!

[2017-11-30 18:04] dshaw commented on #6
@mhdawson Can you help get this setup as a Google Hangout On Air on the Node.js Account today?

[2017-11-30 22:59] mhdawson opened #12 "Initial Users for feedback meetings"
As part of the mandate we should be getting together with end users to get their feedback.

I'm opening this issue to start the discussion on how we identify an initial set of users to invite.  I have a few ideas, but before I talk to them about it I'd like us to discuss and agree on the process for identifying and inviting people to be on the list of those that will be invited to the initial meet

[2017-12-01 16:44] #4 closed

[2017-12-01 16:46] #3 closed

[2017-12-01 16:51] dshaw commented on #2
We selected 1. 17:00 UTC / noon ET / 11am CT / 9am PT to get things started.

[2017-12-01 16:51] #2 closed

[2017-12-01 17:05] mhdawson commented on #6
Sorry did not see this.  Will set it up now

[2017-12-01 17:06] dshaw commented on #6
@mhdawson We're good. @bnb set it up.

[2017-12-01 17:07] dshaw commented on #6
https://zoom.us/j/346639155

[2017-12-01 17:26] mhdawson opened #13 "Input for 2019 Node.js annual survey"
We should plan to
* Review this years survey (and past years)
* Think about what additional questions/tweaks would help gather information we are
  looking for as part of our work in the user-feedback group
* Deliver recommendations by July 2018  to the team building the 2019 survey

[2017-12-01 17:30] mikehostetler opened #14 "Where can we find the results from the Node.js Survey in past years?"
As discussed on the #6 meeting on 2017-12-01, it would be great to get the results from prior Node.js User Survey's for this group to analyze and help direct our focus efforts going forward.

This thread was created to track and address the work required to make that happen.  There are understood security and privacy concerns that the Foundation has already solved.  Given that most of the new memb

[2017-12-01 17:54] bnb commented on #14
cc @zibbykeaton - do you know if there is any specific place that we can get semi-raw data from? 🤔

[2017-12-01 18:01] ZibbyKeaton commented on #14
Adding @hackygolucky and @gtewallace to this thread. They manage the survey and would have this information for you.

[2017-12-01 18:43] #5 closed

[2017-12-01 20:01] dshaw commented on #12
At #6, we discussed 3 potential User Feedback meetings:
* [@dshaw] GoPro is interested in hosting a Meetup in January in San Mateo, CA. Let's do in-person feedback around the Node.js Benchmarking survey (https://github.com/nodejs/community-committee/issues/153). Since this is in the South Bay, it will probably be a largely enterprise crowd.
* [@williamkapke] TENTATIVE at 2018-01-12 meeting: Choosi

[2017-12-01 20:22] dshaw opened #17 "2017-12-15 Node.js End User Feedback (NEUF) Meeting"
# 2017-12-15 Node.js End User Feedback (NEUF) Meeting

## Time

Friday, 2017-12-15 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: https://docs.google.com/document/d/1CMKB5-Jp62I0eWk-8Zw4_Ka3lma5frHZEFax9bx-YNw/edit
* **Previous Minutes Doc**: https://docs.google.com/document/d/1oLUDZXxzldphOZKPwINW_SnsViwW51JE6ad-rKwF618/edit

## Agenda

Extracted from [neuf-agenda](https:

[2017-12-01 23:57] jasnell opened #18 "Enterprise Advisory/Feedback Group"
Today @dshaw and I led the first meeting of a new group of enterprise Node.js adopters that is organizing with the specific purpose of providing feedback to the core project on the priorities, pain points, etc.

The meeting minutes for this first meeting are captured here: https://docs.google.com/document/d/1DfqSNwmGtRUNDCn-a-UDlux02LDxkcDGfYXXOl-8PE0/edit

@dshaw will be working to get a draft ch

[2017-12-05 22:47] dshaw commented on #12
@mhdawson Can we use the alias user-feedback@nodejs.org instead so we don't create confusion for folks who don't know what io.js is?

[2017-12-05 22:51] dshaw commented on #18
I have begun provisioning the space for this group at https://github.com/nodejs/advisory-group .

[2017-12-05 23:33] Trott commented on #18
@dshaw I think the name `advisory-group` may end up being problematic because it  assumes that this will be the only advisory group, which may be true, but very well may not. Can we go for a long and descriptive name instead: `enterprise-advisory-group`?

[2017-12-06 02:38] dshaw commented on #18
Fixed the issue mentioned by @Trott in https://github.com/nodejs/enterprise-advisory-group/issues/2

[2017-12-07 16:53] mhdawson commented on #12
@dshaw I have not idea how we set up a nodejs.org one.  @rvagg I'm gueesing you do can you fill me in ?

[2017-12-07 18:31] rvagg commented on #12
@mhdawson make the @iojs.org alias and I'll loop you in via email to getting the alias set up to make it work. As with other addresses we'll just use the @iojs.org address for management and transparency with @nodejs.org as a forwarding.

[2017-12-11 21:41] mhdawson commented on #12
Final version of email after discussion with @dshaw.  @nodejs/community-committee @nodejs/tsc FYI in case you get asked about this.

**End User Feedback - Looking for Participants**

The Node.js end user feedback team (NEUF) will be working to gather feedback from end users through a number of different channels.

One of those channels will be live discussion either in person or on-line.  We are s

[2017-12-14 00:32] dshaw commented on #17
Inviting @jasnell and @tlivings for #18

[2017-12-14 00:54] dshaw commented on #12
@rvagg Thank you, sir.

[2017-12-14 00:55] dshaw commented on #12
@mhdawson This would be great to incorporate in the README too.

[2017-12-14 15:26] mikehostetler commented on #17
Unfortunately I will not be able to attend this one.  Looking forward to reviewing the notes!

[2017-12-14 15:52] ZibbyKeaton commented on #17
I will also not be able to attend this meeting. I will listen to the recording and follow up with Greg too on next steps and support needed from NF.

[2017-12-14 16:32] mhdawson opened #20 "End User Feedback - Looking for Participants"
The Node.js end user feedback team (NEUF) will be working to gather feedback from end users through a number of different channels.

One of those channels will be live discussion either in person or on-line. We are starting to put together a list of businesses who:

* are using Node.js for their production systems
* use Node.js as part of their tooling
* are evaluating Node.js as a potential techn

[2017-12-14 16:39] mhdawson commented on #12
Issue asking for participants:

https://github.com/nodejs/user-feedback/issues/20

tweet publicizing  https://twitter.com/mhdawson1/status/941346197796667393

Have also asked that it been retweeted by foundation account.

[2017-12-14 16:40] mhdawson commented on #12
PR to add to README.md https://github.com/nodejs/user-feedback/pulls

[2017-12-14 16:51] bnb commented on #17
Seeing as this meeting hasn't happened yet, I'd like to request that the cc-agenda label not be added. Would be a good thing for @mhdawson to bring up in his report to the CommComm, though! 👍

[2017-12-14 16:56] williamkapke commented on #17
I'm also not able to attend this one. (dentist appt)

[2017-12-14 18:24] mhdawson commented on #17
I won't be able to make it as I'm on holiday starting Friday.

[2017-12-14 21:08] dshaw commented on #17
@bnb I'm not sure I understand your feedback. I added the `cc-agenda` label because this meeting was happening _after_ the CommComm meeting. I thought the NEUF meeting topics this week would be of interest to other members of the CommComm and wanted to invite folks from the CommComm to participate. So is your feedback that this is something you do not want to see in CommComm meetings in the future

[2017-12-15 10:40] DiegoZoracKy commented on #17
Hi @dshaw, can I join this meeting as an Observer? It seems to me that what will be discussed here regarding NEUF can be in some way related to what we talked about, on yesterday's meeting.

[2017-12-15 15:37] bnb commented on #17
@dshaw for context: the `cc-agenda` label is added for issues with things to be discussed that need extra attention/need explicit action from the CommComm meeting.

Since we have the report on initiatives at the beginning of the meeting, that's a fantastic time to request members to come to a meeting being held in the future (i.e. something with no present action/decision to be made) - and likely

[2017-12-15 15:38] mihaiep commented on #17
Hi,
can somebody fix the links  from Governance and Contributing area from Readme file?
I think they should direct to https://github.com/nodejs/community-committee/blob/master/GOVERNANCE.md and https://github.com/nodejs/community-committee/blob/master/CONTRIBUTING.md . Thank you.

[2017-12-15 16:49] dshaw commented on #17
Thank you, @bnb for setting up the Zoom meeting.
https://zoom.us/j/547639541

Note that this is a change from what was on the calendar up until today. (Each Zoom Meeting is unique. So we can’t publish these links until the day of the meeting. 😕

[2017-12-15 16:50] dshaw commented on #17
@DiegoZoracKy Please join us. Sounds good.

[2017-12-15 17:27] bnb commented on #17
Benchmarking survey request issue: https://github.com/nodejs/community-committee/issues/153

[2017-12-15 18:14] DiegoZoracKy commented on #12
@dshaw, @mhdawson, it seems that this survey will get a good attention and possibly a great number of responses. I'm wondering if it could be an opportunity to get the initial answers for: **who we are**, **where we are** and **how we are using Node.js**. It could be a section, not required, and saying explicitly that this info would be used openly. Targeting only the ones who are ok about sharing

[2017-12-15 21:35] dshaw commented on #17
@bnb You mentioned that you had edited some of the first questions in the benchmarking survey to be less open ended. I'm still not finding that effort. Can you point me to it?

[2017-12-15 21:38] dshaw opened #21 "2017-12-29 Node.js End User Feedback (NEUF) Meeting"
# 2017-12-29 Node.js End User Feedback (NEUF) Meeting

## Time

Friday, 2017-12-29 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: TBD
* **Previous Minutes Doc**: https://docs.google.com/document/d/1CMKB5-Jp62I0eWk-8Zw4_Ka3lma5frHZEFax9bx-YNw/edit

## Agenda

Extracted from [neuf-agenda](https://github.com/nodejs/user-feedback/labels/neuf-agenda) labelled issues and pull re

[2017-12-15 21:45] dshaw opened #22 "2017 Benchmarking WG Survey"
The [Benchmarking Working Group (WG)](https://github.com/nodejs/benchmarking) reached out to the [CommComm](https://github.com/nodejs/community-committee/) for help gathering feedback from Node.js Users. https://github.com/nodejs/community-committee/issues/153

The Node.js End User Feedback team has taken on this project with the support of the Node.js Foundation team.

[2017-12-16 00:27] dshaw commented on #22
I edited down the questions, adding options wherever possible. I also added an intro.
https://docs.google.com/document/d/1qiepQ-FkP6uiFjwLanZo5Bqu6DaiPNyARPLo97Ap3Xs/edit?ts=5a2e9441

[2017-12-18 18:16] dshaw commented on #22
@gtewallace The survey is ready to convert to Survey Monkey.

[2017-12-20 03:47] dshaw commented on #22
Update @gtewallace has the survey in Survey Monkey now. There was a minor issue. It should be ready tomorrow.

[2017-12-21 20:20] williamkapke commented on #12
Heads up: I need to be onsite with a client when the January meeting is planned and unable to attend.

[2017-12-22 01:29] dshaw commented on #12
@williamkapke Thanks for the heads-up. I'll schedule the 2018-01-12 meeting around the same time as I run the 2017-12-29 meeting. Since you will not be available, let's put your topic on the back burner until you're available to organize.

[2017-12-22 20:22] dshaw commented on #22
The Benchmarking WG Survey is live and ready for input and distribution. Thank you @gtewallace of the Node.js Foundation for setting this up.

https://www.surveymonkey.com/r/NodeBenchmarking

/cc @nodejs/community-committee @nodejs/evangelism

[2017-12-22 23:07] gtewallace commented on #22
☺ @zibbykeaton after the holidays, do you mind putting this out on Twitter? Tnx!

[2017-12-28 19:05] dshaw commented on #21
Good topic for discussion: https://github.com/nodejs/community-committee/issues/202

[2017-12-29 18:12] dshaw opened #26 "2018-01-12 Node.js End User Feedback (NEUF) Meeting"
# 2018-01-12 Node.js End User Feedback (NEUF) Meeting

## Time

Friday, 2018-01-12 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: https://docs.google.com/document/d/1igMLOTd0TJHf0hbXqcLIl-tXmj9vlK9G3h1W2d9TQFo/edit
* **Previous Minutes Doc**: https://docs.google.com/document/d/1kc6PTz9o3eAS3ZZKsIMpXD2UUIoeNjYh7dZ4R9ee8Is/edit

## Agenda

Extracted from [neuf-agenda](https:

[2017-12-30 01:21] boneskull commented on #22
Thanks @dshaw for pointing me here.

I tried taking this survey but immediately found it difficult due to ambiguity in the way the questions were posed.

On 1, I answered "more than 100", but in an organization the size of IBM, I'm unsure if anyone knows what that number actually is or how to get it.  2 and 3 suffer from the same problem, but these are asking about "you" instead of "your organizat

[2017-12-30 01:35] dshaw commented on #22
@boneskull Thank you for taking the time to start the survey and share what blocked you.

If you're coming to this thread and have had similar issues to @boneskull, please +1 the comment above and leave a comment.

/cc @mhdawson (also IBM 😉 ) and @nodejs/benchmarking

[2018-01-03 20:30] mhdawson commented on #22
@boneskull thanks for the feedback, we will try to reflect on how to refine the questions in future surveys.  I agree its more complicated to respond on behalf of a large org like IBM.  I'd try to narrow the focus to the group you work with as opposed to trying to get it right for IBM as a whole.

In terms of the question on top 5 modules we are trying to get at what are the most important modules

[2018-01-03 20:33] mhdawson commented on #26
@dshaw hope you don't mind I edited description to add myself to the invitees.

[2018-01-03 21:19] boneskull commented on #22
Yes, I tried that, but realized I didn't even know *those* answers.  :wink:

I'm not a quantitative researcher by trade, but I have worked in the domain for much of the past 10 years.  @dshaw @mhdawson I'm happy to help with any future surveys.

[2018-01-03 21:55] mhdawson commented on #12
@DiegoZoracKy just catching up and as survey is already out a bit late to address your questions.  The draft for the questions were public in: https://github.com/nodejs/benchmarking/issues/136

In terms of asking more info, it might make sense at this point to come up with a new set of survey questions to capture information that you mention ?

[2018-01-03 21:56] mhdawson commented on #22
@boneskull thanks for the offer, we'll get you to help out for the next one.

[2018-01-03 23:51] dshaw opened #27 "2018-02-16 Public User Feedback Meeting - Node.js Benchmarking"
# 2018-02-16 Public User Feedback Meeting - Node.js Benchmarking

## Time

Friday, 2018-02-16 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: https://docs.google.com/document/d/1RoPPTUxR9xtZ_3NS4Z5P8mXHZrKyGz3jwGPnD9hpjlA/edit
* **Previous Minutes Doc**: https://docs.google.com/document/d/13kjBLpK3huHgCebxROpBNuUQLNyyOafaI5lOKi129Co/edit

## Agenda

This is a public User Fe

[2018-01-04 00:08] DiegoZoracKy commented on #12
@mhdawson If the survey was yet to be released, I believe it wouldn't be needed too much effort to add some new questions. Maybe it won't be good to invest right now on a new survey just to address these questions. Let's mature the idea first and see how this data (*who we are*, *where we are* and *how we are using Node.js*) can be valuable to the community.

[2018-01-04 21:14] mhdawson commented on #12
@DiegoZoracKy ok sounds good.

[2018-01-11 23:46] mhdawson commented on #27
@dshaw the title does not seem to match up with the contents of the issue ?

[2018-01-12 08:10] dshaw commented on #26
np. Not sure why you weren't already listed.

Built agenda.

[2018-01-12 17:01] dshaw commented on #26
@mhdawson or @bnb Can you start Zoom?

[2018-01-12 17:05] dshaw commented on #26
PSA: There's an issue with Zoom this morning. We may need to transition to Hangouts. Sorry for the delay.

[2018-01-12 17:07] dshaw commented on #26
Let's go with a Hangout

[2018-01-12 17:07] mihaiep commented on #26
do we have a working link to join? thanks

[2018-01-12 17:07] mhdawson commented on #26
Link for participants: https://hangouts.google.com/hangouts/_/ytl/PbVbxR8xgZuZ7pgV7EFqNea8G7myLagUQkkwDPNDL8w=?eid=100598160817214911030

[2018-01-12 23:19] dshaw commented on #27
@mhdawson Fixed title. Thanks.

[2018-01-12 23:20] dshaw commented on #27
I updated the agenda. @nodejs/user-feedback, please review.

[2018-01-12 23:48] dshaw commented on #27
At the [2018-01-12 User Feedback team meeting](https://github.com/nodejs/user-feedback/issues/26), we decided to expand the constituency of this first public session. We had originally scheduled another broader public feedback session prior to this which had to be rescheduled. The enterprise focus was too limiting to effectively serve the folks that have raised their hands during [call for partici

[2018-01-13 00:00] mihaiep commented on #26
Tracking: Dan could you open a new issue for tracking with what can we make public from the Benchmarking WG Survey survey (per our meeting today), and try to invite Tracy for the next meeting  User feedback meeting 1.26.2018?thank you

[2018-01-13 00:00] dshaw opened #28 "2018-01-26 User Feedback Team Meeting"
# 2018-01-26 User Feedback Team Meeting

## Time

Friday, 2018-01-26 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: https://docs.google.com/document/d/13kjBLpK3huHgCebxROpBNuUQLNyyOafaI5lOKi129Co/edit
* **Previous Minutes Doc**: https://docs.google.com/document/d/1igMLOTd0TJHf0hbXqcLIl-tXmj9vlK9G3h1W2d9TQFo/edit

## Agenda

Extracted from [neuf-agenda](https://github.com/n

[2018-01-15 14:26] mhdawson opened #29 "Participation and Node.js Community session at Index 2018"
See https://github.com/nodejs/admin/issues/44

On the suggested agenda is:

End user feedback session (as a way to bolster the work in https://github.com/nodejs/user-feedback)

@dshaw mentioned we was planning to be at Index.  We need to discuss/document what/how we'd like to structure the session.

[2018-01-15 16:18] mhdawson commented on #28
I won't be able to make this one as I'm a vacation that week but look forward to catching up when I return.

[2018-01-15 16:19] mhdawson commented on #28
Quick  note that date in meeting description is incorrect:

`Friday, 2018-01-12 at 17:00 UTC / noon ET / 11am CT / 9am PT`

[2018-01-15 16:21] mhdawson commented on #28
@dshaw if you can put together a PR for templates here: https://github.com/mhdawson/create-node-meeting-artifacts/tree/master/templates to add the templates for the user-feedback repo I can then add to the meetings for which the issue/minutes doc is automatically created.

[2018-01-15 16:30] mhdawson commented on #27
@dshaw was I was suggesting was not that we discuss the results of the benchmarking survey as we've not yet shared with the benchmarking WG (which we should do first) and we still need to figure out what can be made public.

Instead was suggesting we use the session to do discuss the questions in person as another way to gather the data we were looking for.  This will likely give us additional ins

[2018-01-15 16:30] mikehostetler commented on #28
Looking forward to this one!

[2018-01-15 16:31] mikehostetler commented on #28
Looking forward to attending this one!

[2018-01-16 10:38] dshaw commented on #29
@mhdawson Is there a good forum to reach out to attendees to invite them?

[2018-01-18 21:55] mhdawson commented on #29
Talked to the organizers, lets put together a short invite text and then we'll follow up with them to tweet out etc.

[2018-01-26 16:21] dshaw commented on #26
The minutes from this meeting need to be PRed to the repo:
https://docs.google.com/document/d/1igMLOTd0TJHf0hbXqcLIl-tXmj9vlK9G3h1W2d9TQFo/edit

[2018-01-26 16:37] mihaiep commented on #28
For this meeting my Google calendar is still showing we will use zoom. If you are using Google hangouts (last time we did) please send the link for it. Thank you

[2018-01-26 16:45] dshaw commented on #28
@mihaiep Last week @mhdawson was unable to get Zoom working. We had to fall back to Hangouts. This week @bnb will be joining us and will manage Zoom for us.

Member join link: https://zoom.us/j/204295944

[2018-01-26 17:20] bnb commented on #22
https://twitter.com/bitandbang/status/956939288024879112

https://www.linkedin.com/feed/update/urn:li:activity:6362705334787801088

[2018-01-26 17:23] dshaw commented on #28
Join Node.js Slack: http://nodeslackers.com

[2018-01-26 17:44] ZibbyKeaton commented on #22
How is this doing on survey responses? Happy to continue to promote it on Node.js handle, just let me know when you are thinking of closing it.

[2018-01-26 18:42] lordKnighton commented on #22
/cc @nodejs/community-committee @nodejs/evangelism

If you guys could use an additional hand - Im available
Just contact me & we will link up from there.

[2018-01-26 20:25] bnb commented on #22
@ZibbyKeaton We're planning on closing on the 31st 👍

[2018-01-26 20:26] ZibbyKeaton commented on #22
@bnb I will stage a few more tweets and let folks know they need to submit by then.

[2018-01-27 00:42] mihaiep commented on #28
Streamed live [here](https://www.youtube.com/watch?v=ytj9uAsozDw). Thank you, Tierney

[2018-01-29 19:58] dshaw commented on #27
@nodejs/benchmarking Please let us know if you're planning on attending and we'll add you to the agenda.

[2018-01-29 20:20] bmeck commented on #27
I'll be attending, slowly getting data on my end.

On Jan 29, 2018 1:58 PM, "Dan Shaw" <notifications@github.com> wrote:

[2018-02-01 16:59] dshaw commented on #22
The Benchmarking WG survey has now officially ended. https://www.surveymonkey.com/r/NodeBenchmarking

A big thank you to all the teams and individuals that helped support this:
@nodejs/benchmarking @nodejs/user-feedback @nodejs/community-committee @nodejs/foundation @gtewallace

[2018-02-02 01:24] #26 closed

[2018-02-02 01:25] #28 closed

[2018-02-08 21:37] dshaw commented on #27
Heads-up: after a discussion with @mhdawson, there are some folks who we have not been able to invite, so we will be delaying this session by a week. We will reconvene on Friday, 2/16 at 9am PT.

🙏 Thank you

/cc @nodejs/user-feedback @nodejs/community-committee @bradleyfarias @joelchen

[2018-02-08 22:50] mhdawson commented on #27
Thanks for everybody's patience we want to make sure we get invites out to everybody who has volunteered before the first meeting.

[2018-02-13 01:44] bnb commented on #27
I should be able to make this meeting 👍

[2018-02-14 21:47] mhdawson commented on #27
Invites were sent last week, looking forward to the meeting on Friday.

[2018-02-16 16:59] dshaw opened #32 "2018-03-02 User Feedback Team Meeting"
# 2018-03-02 User Feedback Team Meeting

## Time

Friday, 2018-03-02 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: TBD
* **Previous Minutes Doc**: https://docs.google.com/document/d/1RoPPTUxR9xtZ_3NS4Z5P8mXHZrKyGz3jwGPnD9hpjlA/edit# (public session)

## Agenda

Extracted from [neuf-agenda](https://github.com/nodejs/user-feedback/labels/neuf-agenda) labelled issues and pul

[2018-02-16 17:00] bnb commented on #32
Updated join link: https://zoom.us/j/665550923

[2018-02-16 17:03] bnb commented on #27
Updated link: https://zoom.us/j/665550923

[2018-02-17 15:02] mihaiep commented on #27
Excellent meeting. Thank you Dan & Michael for organizing and thanks all for participating and valuable feedback. https://benchmarking.nodejs.org/ (more links in meeting notes)

[2018-02-27 17:16] bnb commented on #29
This is now complete, but I think something should be logged in this repo about the in-person event. @dshaw or @mhdawson would you like to try to define what that would be? I'm not really sure what the best approach is.

[2018-02-27 23:37] dshaw commented on #29
@bnb: @mihaiep [PRed minutes for the session](https://github.com/nodejs/user-feedback/pull/33). If you'd like to see more content from that session show up somewhere, then I'll add a topic to Friday's meeting agenda.

[2018-02-28 00:05] mihaiep commented on #29
One comment: the PR is made for the Public User -Benchmark meeting from 2.16.2018, couple of days before Index 2018.
Meeting notes from the open session from Index 2018, will be available next days, and will be another PR. Hope this help.

[2018-02-28 18:29] dshaw commented on #29
@mihaiep Thanks for clarifying.

[2018-03-02 16:58] bnb commented on #32
This meeting is happening today, right?

If so, here's the link: https://zoom.us/j/204295944

[2018-03-02 17:15] bnb commented on #32
YouTube join link: http://www.youtube.com/watch?v=UwIk56lzytQ

[2018-03-02 17:16] dshaw commented on #32
Or go to: https://www.youtube.com/c/nodejs+foundation/live

This works for every live meeting we do in the Node.js project.

[2018-03-02 17:18] mhdawson commented on #32
@dshaw I learn something new everyday.  I should update the templates for the autogenerated meetings so they use that link.

[2018-03-02 18:14] bnb commented on #32
I'm going to be following up with @nodejs/website-redesign to see if they'd be interested in gathering feedback from a survey 👍

[2018-03-02 18:26] boneskull commented on #32
The meeting link in the calendar at https://nodejs.org/calendar is incorrect, fwiw.

[2018-03-05 22:03] bnb commented on #29
Looks great @mihaiep. I think this issue can be closed now?

[2018-03-14 03:11] dshaw opened #37 "Invite Node.js tooling ecosystem folks to discuss user feedback"
At https://github.com/nodejs/user-feedback/issues/32 we discussed inviting tooling folks to do public user feedback together at the March 30th session.

- @b0neskull will coordinate tooling folks. Please +1 in this issue and try to come attend to the March 16th user feedback team meeting.
- Call for @nodejs/tsc @nodejs/collaborators and @nodejs/community-committee interested in participating and r

[2018-03-14 03:13] dshaw opened #38 "Plan public Node.js User Feedback session for 2018-03-30"
- Attendees:
  * @nodejs/user-feedback
  * @boneskull - Mocha
  * @thelarkinn - webpack
  * @iarna - npm
  * @jchip - Electrode, End User representative
  * @nodejs/modules
- Topics:
  * Describe how your Tooling leverages Node.js.
  * Why do you use Node.js for Tooling?
  * What's working in the Node.js tooling ecosystem?
  * What isn't working in the Node.js tooling ecosystem?
  * What's new tha

[2018-03-14 03:22] #29 closed

[2018-03-14 03:36] dshaw opened #39 "2018-03-16 User Feedback Team Meeting"
# 2018-03-16 User Feedback Team Meeting

## Time

Friday, 2018-03-16 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: https://docs.google.com/document/d/1NXH7qzaLGJcgNaswAcHVfwqluwaZPjp7iXtyRa4JZZA/edit#
* **Previous Minutes Doc**: https://docs.google.com/document/d/1RoPPTUxR9xtZ_3NS4Z5P8mXHZrKyGz3jwGPnD9hpjlA/edit# (public session)

## Agenda

Extracted from [neuf-agenda](h

[2018-03-14 03:37] #22 closed

[2018-03-14 03:37] #8 closed

[2018-03-14 03:37] #13 closed

[2018-03-14 03:38] #14 closed

[2018-03-14 03:39] dshaw commented on #32
@mihaiep Do you have notes for this meeting?

[2018-03-14 04:01] gireeshpunathil commented on #37
+1

[2018-03-14 06:03] Trott commented on #39
Looks like there may be a typo in the template for @boneskull's handle?

[2018-03-14 06:05] Trott commented on #37
(I think it's @boneskull rather than @b0neskull...)

[2018-03-14 06:15] boneskull commented on #37
the latter is my twitter unfortunately

[2018-03-14 06:34] mihaiep commented on #32
Yes [here](https://docs.google.com/document/d/1EHbxCOy-tlFAvVqO7r4n8Tu_4c6TnztfO1_dsjMrCRg/edit#heading=h.iwg4uzfxnbok) . I will PR this after cleaning the old commits.
Dan could you please set up a meeting for Enterprise Advisory group for sorting out, to define, how to move forward? Thanks

[2018-03-14 08:16] benjamingr commented on #37
We have plenty of tooling people at the modules team, maybe reach out to them?

[2018-03-14 10:54] mhdawson commented on #37
I'll be there.

[2018-03-14 15:34] dshaw commented on #39
@Trott Thanks, Rich. Fixed.

[2018-03-14 15:35] dshaw commented on #37
@boneskull Sorry about that. Fixed.

[2018-03-14 15:35] dshaw commented on #37
@benjamingr That would be great.

[2018-03-14 15:55] dshaw commented on #32
@mihaiep Sounds good. Let's schedule the discussion for the 2018-04-13 team meeting.

[2018-03-14 15:59] Trott commented on #37
Speaking just for myself and not on behalf of any Node.js entity: It would be great to get feedback on https://github.com/nodejs/node/issues/19079 if any tooling folks have any. It can go right in that issue--doesn't have to wait for the March 30 session.

[2018-03-14 16:17] benjamingr commented on #37
Pinging @nodejs/modules regarding that :)

[2018-03-14 16:23] MylesBorins commented on #37
Let's mention it in the meeting today!

On Wed, Mar 14, 2018, 12:17 PM Benjamin Gruenbaum <notifications@github.com>
wrote:

[2018-03-14 20:53] mihaiep opened #42 "Tracking PR#31:Add templates for the user-feedback repo"
Opening this for tracking [#31](https://github.com/nodejs/user-feedback/pull/31).
"@mihaiep to add the templates you want to open a PR in this repo: https://github.com/mhdawson/create-node-meeting-artifacts

and create files in the https://github.com/mhdawson/create-node-meeting-artifacts/tree/master/templates directory. You can pick one of the existing ones (ex commcomm) and copy the templates (4

[2018-03-14 20:58] mihaiep commented on #42
thank you @bnb, Tierney for helping me cleaning the old unwanted commits.

[2018-03-14 20:58] mihaiep commented on #42
#31

[2018-03-16 16:26] dshaw commented on #38
Topics:
* What's working in the Node.js tooling ecosystem?
* What isn't working in the Node.js tooling ecosystem?

[2018-03-16 16:28] dshaw commented on #38
Attendees:
* Invite @jchip of Walmart for end user prospective.

[2018-03-16 16:40] dshaw commented on #38
Topics (for feedback):
* Invite Node.js tooling ecosystem folks to discuss user feedback -
 https://github.com/nodejs/node/issues/19079

[2018-03-16 16:44] dshaw commented on #38
Topic:
- Using N-API

[2018-03-16 16:46] dshaw commented on #38
Topic:
* Is there anything the Node.js Project and/or the Node.js Foundation could do to better support your needs?

[2018-03-16 16:52] dshaw commented on #38
Invite @kborchers and JS Foundation representatives.

[2018-03-16 16:54] boneskull commented on #38
the sean larkin you want is @TheLarkInn

[2018-03-16 17:34] bnb commented on #37
@dshaw Could you clarify the time for the "March 30th session" for those who are landing on this issue? They probably don't have that context already 😄

[2018-03-16 17:46] kentcdodds commented on #37
@bnb invited me and I should be able to make it depending on the time. :+1:

[2018-03-16 20:00] dshaw commented on #37
Friday, 2018-03-30 at 9am PT

[2018-03-16 20:01] kentcdodds commented on #37
That works great for me. Can we have a calendar event sent out? My email: kent@doddsfamily.us

[2018-03-16 20:42] bnb commented on #37
Sent you an invite @kentcdodds 👍

[2018-03-16 21:26] bahmutov commented on #37
I can participate from Cypress side, even if in passive role

[2018-03-16 21:39] dshaw commented on #38
The first and only Sean Larkin. Thanks, @boneskull.

[2018-03-17 01:09] developit commented on #37
I think I will be able to attend remotely, if possible.

[2018-03-19 13:24] bnb commented on #37
@bahmutov you don't need an invite email, but I can add you to the invite to get it on your calendar if you'd like.

@developit yep, almost everyone will be joining in remotely 😁

[2018-03-19 14:12] devsnek commented on #37
i'd be happy to join in if i can make it

[2018-03-19 17:05] justinfagnani commented on #37
What kind of tooling are we talking here? I run the Polymer tools team, and would happy to join if it's helpful.

[2018-03-20 17:15] jchip commented on #38
@dshaw I am traveling to China 3/29 so I won't be able to attend this time.  Thanks.

[2018-03-20 17:43] benjamn commented on #37
I'm in @nodejs/modules but also am a http://github.com/meteor/meteor core maintainer. Can my Meteor colleague @abernix attend as well?

[2018-03-20 17:52] boneskull commented on #37
@justinfagnani by "tooling" generaly this means "command-line tools"

[2018-03-20 18:18] justinfagnani commented on #37
@boneskull agreed

[2018-03-20 19:04] bahmutov commented on #37
@bnb if you can add me to the calendar invite, that would increase the chances that I am not going to miss it ;)

[2018-03-20 21:02] jdalton commented on #37
I'd like an invite as well 😋

[2018-03-21 16:40] TheLarkInn commented on #37
Here here :)

[2018-03-23 13:03] bahmutov commented on #37
mind asking where is the calendar invite?

[2018-03-23 18:15] kellyselden commented on #38
I can attend on behalf of the @ember-cli team.

[2018-03-26 16:58] bnb commented on #37
@bahmutov sorry, didn't get your ping. Sent it to the email listed on your GitHub profile 😅

[2018-03-26 17:01] bnb commented on #37
@jdalton @developit emails you'd like me to add to the invite? 😄

[2018-03-26 17:02] bnb commented on #37
@TheLarkInn added the email on your GitHub profile to the invite 👍

[2018-03-26 17:18] jdalton commented on #37
[](john.david.dalton[at]gmail[dot]com)

[2018-03-28 19:00] uttampawar commented on #38
Dan, I'll attend for team Intel. Is there timing information somewhere?

[2018-03-29 14:24] mihaiep commented on #42
PR(s) created  [23](https://github.com/mhdawson/create-node-meeting-artifacts/pull/23), [24](https://github.com/mhdawson/create-node-meeting-artifacts/pull/24),[25](https://github.com/mhdawson/create-node-meeting-artifacts/pull/25), [26](https://github.com/mhdawson/create-node-meeting-artifacts/pull/26)

[2018-03-30 15:28] dshaw opened #45 "2018-03-30 Public User Feedback Meeting - Node.js Tooling"
# 2018-03-30 Public User Feedback Meeting - Node.js Tooling

## Time

Friday, 2018-03-30 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**:
* **Previous Minutes Doc**:

## Agenda

This is a public User Feedback meeting with [invited participants](https://github.com/nodejs/user-feedback/issues/38) focused on specific topics. Please feel free to propose discussion items for the

[2018-03-30 15:50] bnb commented on #45
@dshaw a few people were left out from https://github.com/nodejs/user-feedback/issues/37:

Also invited:
- @jdalton
- @developit
- @bahmutov
- @abernix
- @devsnek

[2018-03-30 15:54] bnb commented on #45
Updated Zoom info as the previously linked meeting didn't exist.

[2018-03-30 15:57] kentcdodds commented on #37
I'm not listed in the participants in the agenda: https://github.com/nodejs/user-feedback/issues/45

Was this an oversight or should I not come?

[2018-03-30 15:58] dshaw commented on #45
Updated Zoom link for those joining us: https://zoom.us/j/219327501

[2018-03-30 15:59] developit commented on #45
@dshaw @bnb - I don't think I will be able to make it sadly, I'm stuck at the DMV.

[2018-03-30 16:56] kentcdodds commented on #45
Feedback as requested by @bnb.

I love the meeting. Sadly due to time constraints we didn't all get a chance to address the questions. I think in the future it'd be great to make certain that the meeting is planned such that there is time to cover everything whether that means fewer questions, fewer attendees, shorter answers, or a combination.

[2018-03-30 17:02] iarna commented on #45
Point of order: Making everyone a co-host means no one can raise hands using the Zoom interface, AFAICT.

[2018-03-30 17:10] boneskull commented on #45
Need to compress that agenda.  think we tried to bite off more than we could chew.  would love to do this on a monthly cadence

[2018-03-30 17:13] kentcdodds commented on #45
What's new that could impact Node.js?
- I'm hearing a lot about languages that compile down to native (ReasonML, Rust, etc.). I haven't dug into those much, but they could be alternatives for people and they seem to be much faster.
- Zeit CLI bundler thing called [pkg](https://github.com/zeit/pkg): "Single-Command Node.js binary compiler"
- Electron and similar tools, not really new, but I'd love

[2018-03-30 17:21] dshaw opened #46 "2018-04-13 User Feedback Team Meeting"
# 2018-04-13 User Feedback Team Meeting

## Time

Friday, 2018-04-13 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: https://docs.google.com/document/d/1NXH7qzaLGJcgNaswAcHVfwqluwaZPjp7iXtyRa4JZZA/edit#
* **Previous Minutes Doc**: https://docs.google.com/document/d/1RoPPTUxR9xtZ_3NS4Z5P8mXHZrKyGz3jwGPnD9hpjlA/edit# (public session)

## Agenda

Extracted from [neuf-agenda](h

[2018-03-30 17:22] boneskull commented on #45
Thanks everyone for the feedback.  This has been productive--yet there's also a lot more to talk about.

One of those future things might want to be "feature requests."  Some of us (e.g. @TheLarkinn) have very specific features in mind; others are more akin to absorbing the functionality of some important userland modules into core.

I would like to form a group in an "official" capacity, and woul

[2018-03-30 17:43] devsnek commented on #45
i apologize for leaving early, my school's wifi died. (the rumor is that the fibre modem caught on fire so thats cool i guess :p)

[2018-03-30 18:51] bnb commented on #45
Also, as per the discussion toward the end we wanted to capture the chat as there was some pretty interesting and important discussion to point to there.

I captured it in a Gist (there are two files, one formatted and one unformatted): https://gist.github.com/bnb/ff9d8e95876737f88f8874e36169df6b

[2018-03-30 20:03] dshaw commented on #45
Thanks, @bnb.

@mihaiep, please note https://github.com/nodejs/user-feedback/issues/45#issuecomment-377595308 for minutes.

[2018-03-30 22:49] mihaiep commented on #45
Yes. Thanks Tierney for the files. I have all the data, and will be available one minutes single doc for reviewing&check-in user repo.

[2018-04-02 16:30] mhdawson opened #48 "Invalid - for testing"
## Time

**UTC Fri 13-Apr-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 13-Apr-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 13-Apr-2018 10:00 (10:00 AM) |
| US / Central  | Fri 13-Apr-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 13-Apr-2018 12:00 (12:00 PM) |
| London        | Fri 13-Apr-2018 17:00 (05:00 PM) |

[2018-04-02 16:31] #48 closed

[2018-04-02 16:33] mhdawson commented on #42
Ok landed. Should create meeting next Monday for the meeting the Friday of that week.

@dshaw Note that I see 2 tags being used neuf-agenda and user-feedback-agenda.  The generated doc will only include those tagged neuf-agenda.

[2018-04-02 16:41] bnb commented on #37
@kentcdodds just saw this! It was an oversight - glad we had you ❤️

[2018-04-02 19:15] bnb commented on #27
Closing, since this is a past meeting.

[2018-04-02 19:15] #27 closed

[2018-04-02 19:15] bnb commented on #39
Closing, since this is a past meeting.

[2018-04-02 19:15] #39 closed

[2018-04-02 19:16] bnb commented on #32
Closing, since this is a past meeting.

[2018-04-02 19:16] #32 closed

[2018-04-02 19:17] bnb commented on #38
Closing, since this is a past meeting. Thanks for attending everyone! We look forward to continuing to work with y'all more in the future.

[2018-04-02 19:17] #38 closed

[2018-04-02 20:35] mihaiep commented on #46
We need to talk a little/vote a bit about time. We need to stay on one hour or get an extension from the start of the meeting, if participants>10 ( just an idea). I'm sure you have discussed about this before. Thanks

[2018-04-04 00:29] mihaiep commented on #42
Templates are [**here**](https://github.com/mhdawson/create-node-meeting-artifacts/tree/master/templates).

[2018-04-04 21:14] mhdawson commented on #42
They are landed, next meeting should auto generate.

[2018-04-09 13:05] mhdawson opened #49 "Node.js Foundation User Feedback Meeting 2018-04-13"
## Time

**UTC Fri 13-Apr-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 13-Apr-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 13-Apr-2018 10:00 (10:00 AM) |
| US / Central  | Fri 13-Apr-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 13-Apr-2018 12:00 (12:00 PM) |
| London        | Fri 13-Apr-2018 17:00 (05:00 PM) |

[2018-04-12 19:24] mhdawson commented on #49
@dshaw this is the automatically generated meeting for this week. You may want to close this one or the other one you created earlier.  The agenda items were not pulled out because I think the neuf-agenda was replaced with a different tag.  The templates will need to be updated to match that.

[2018-04-12 20:41] mhdawson opened #51 "Form team/group to define "embedding requirements""
There is ongoing work to allow Node.js to be built as a static or shared library. This allows Node.js to be embedded in the process of another application.  See https://github.com/nodejs/node/issues/14158, which is also being backported to 8.X and 6.X  (https://github.com/nodejs/node/pull/19047, https://github.com/nodejs/node/pull/19050).

@yhwang is currently working on adding testing to the CI.

[2018-04-12 21:27] mhdawson commented on #49
@dshaw fixed the tag in the template for the next time.

[2018-04-12 21:40] dshaw commented on #49
Thank you. Is it possible to change when this is generated? The day before is a little late for my tastes.

[2018-04-12 21:41] #49 closed

[2018-04-12 21:55] mhdawson commented on #49
It was generated 3 days ago, I have 2 cron jobs now so that its 3-4 days before each meeting.  I can always add another but it was 4 days before.

[2018-04-12 22:03] dshaw commented on #49
@mhdawson Thanks for the context.

[2018-04-13 15:50] bnb commented on #46
I'd also like to add an agenda item about landing the images from the Values session we did at Index - not sure where that stands/if it landed anywhere.

[2018-04-13 15:51] bnb commented on #46
Join link - hopefully this one doesn't get invalidated, should last for the next 50 meetings: https://zoom.us/j/353642832

[2018-04-13 15:57] dshaw opened #52 "2018-04-27 Public User Feedback Meeting - Enterprise Use Case"
# 2018-04-27 Public User Feedback Meeting - Enterprise Use Case

## Time

Friday, 2018-04-27 at 17:00 UTC / noon ET / 11am CT / 9am PT

Followed immediately afterward by 20 minute private discussion at 18:00 UTC / 1pm ET / noon CT / 10am PT.

## Links

* **Minutes Doc**: TBD
* **Previous Minutes Doc**: TBD

## Agenda

This is a public User Feedback meeting with [invited participants](https://githu

[2018-04-13 17:19] dshaw opened #53 "Capture the Public User Feedback Process"
Action item from #46: create a markdown file to capture and document the process we've been using for Public User Feedback sessions.

[2018-04-13 17:21] dshaw opened #54 "Brainstorm the components we want to capture with ongoing feedback groups"
Action item from #46: define the components we want to capture in a markdown file in the User Feedback repo with ongoing context for user feedback groups, like Node.js Tooling.

[2018-04-14 03:52] mihaiep commented on #52
Meeting notes [here.](https://docs.google.com/document/d/1909UvdMuMJqFb0ONmbCGGjEcyfdpx8Vx7g-L9Aedq4Y/edit#) . md file will be ready in PR.

[2018-04-14 04:01] mihaiep commented on #46
Meeting notes [here.](https://docs.google.com/document/d/1909UvdMuMJqFb0ONmbCGGjEcyfdpx8Vx7g-L9Aedq4Y/edit#). md file will be on available via PR.

[2018-04-16 19:46] dshaw opened #56 "Public User Feedback request - European General User Feedback at WorkerConf"
@bmeurer has invited the User Feedback team to host public User Feedback session like we did at IndexConf. @dshaw be in Italy in June, so he can host.

https://twitter.com/dshaw/status/985963240663400449

https://worker.sh/

[2018-04-16 20:37] bnb commented on #56
Would love to come to this if at all possible 🤔

[2018-04-16 22:39] dshaw commented on #52
@bnb Sounds like a good idea to me.

[2018-04-18 02:37] mihaiep commented on #53
I think Michael suggest it on last team meeting we should try [Wiki.](https://github.com/nodejs/user-feedback/wiki). Do we want to create a page- with the header the actual meeting date, and only questions, thoughts, instead of md file? It may look like [this](https://github.com/mihaiep/Test_Area/wiki/2018-04-14-Questions)

[2018-04-19 15:55] mhdawson commented on #53
If I remember correctly, in the end I believe we agreed on using a markdown (md) file edited through the github GUI.

[2018-04-19 18:00] mihaiep commented on #53
Yes, you're right. Trying to see which way is easier to keep it simple.

[2018-04-24 00:55] ladyleet commented on #56
@dshaw @bnb i'll be there too speaking with @benlesh! // @annmarietonog @mrhinkle

[2018-04-26 23:16] mhdawson commented on #51
@groundwater I was hoping you might be interested in this, wondering if you go the ping through @nodejs/delivery-channels

[2018-04-27 15:14] mhdawson commented on #51
@rogerwang thanks for replying, will include you when we get things rolling

[2018-04-27 15:53] groundwater commented on #51
Hi @mhdawson. Thanks for this! We have a number of folks at JSConf EU, and I believe there is a summit occurring shortly beforehand. Would it be worth sending a few of our folks to kick this discussion off in-person?

[2018-04-27 16:15] MylesBorins commented on #51
I think having folks at the summit would be awesome!

On Fri, Apr 27, 2018, 11:53 AM Jacob Groundwater <notifications@github.com>
wrote:

[2018-04-27 16:37] kapouer commented on #51
Hello, yesterday i enabled the `--shared` flag on node 10 debian package. Worked perfectly and this is really cool. I think `make install` should continue to install the executable (the one linked to the built lib) though.
Not yet ready on my side, but it's going to  bring a lot of improvements with respect to packaged addons, and multiarch support in debian. I'll follow up on issues tracker if ne

[2018-04-27 17:27] dshaw commented on #52
Action items:
* What are can Enterprise deployments do to engage with a Current Release and provide better feedback?
  - Where does that feedback go?
  - What are the tests or scripts folks can use to provide feedback?

[2018-04-27 17:47] mhdawson commented on #51
@groundwater I don't necessarily want to wait to start discussing and possibly meeting remotely until after the summit (not everybody will be at the summit either), but getting together in person at the summit would be great.

[2018-04-27 18:38] jonathan-casarrubias commented on #52
Wow such a bad luck of mine, just accidentally found this... I'm actually working on building an Enterprise Grade Framework for Node.JS called [OnixJS](https://github.com/onixjs)... Me and my team are trying to fix several issues related to the Node.JS community related to enterprise problems.

From over-dependency in open-source modules, like when everybody was unable to deploy because of the lam

[2018-04-27 19:18] groundwater commented on #51
@mhdawson agreed. Would you like to kick this off asynchronously or via a synchronous video discussion?

[2018-04-30 14:54] mhdawson commented on #52
@jonathan-casarrubias hope to see you in the next meeting

[2018-04-30 15:27] jonathan-casarrubias commented on #52
@mhdawson Cool, I'll be looking forward to that meeting next Thursday.

Cheers
Jon

[2018-04-30 15:31] mhdawson commented on #52
@jonathan-casarrubias, we have 3 groups on the go, general, tooling and enterprise so next week will be general, however, you are still welcome.

[2018-04-30 15:43] jonathan-casarrubias commented on #52
@mhdawson sure no problem I'm still interested in general and tooling since a big portion of my efforts has been contributions to the open-source community in terms of tooling, etc...

Anyway, we agree that important meeting for me will be the enterprise one.

Thanks for clarifying

Cheers
Jon

[2018-05-01 00:24] mhdawson commented on #51
I think starting with a video call to get together to review what I suggested above as the way forward and to agree on the best way to work together (github, regular meetings or whatever). I'll get together with @yhwang to set up a kickoff meeting.

[2018-05-01 18:13] mhdawson opened #58 "Node.js Foundation User Feedback Meeting 2018-05-11 - General team - working session"
## Time

**UTC Fri 11-May-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 11-May-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 11-May-2018 10:00 (10:00 AM) |
| US / Central  | Fri 11-May-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 11-May-2018 12:00 (12:00 PM) |
| London        | Fri 11-May-2018 17:00 (05:00 PM) |

[2018-05-01 19:28] aaronbartell commented on #58
@mhdawson I can make it and it's in my calendar.  Looking forward to it!

# Potential Agenda Topics
I help IBM i shops adopt Node.js.  Node.js has been on the platform since 2015 timeframe and has recently seen a surge of in interest.  Below are some of the questions I get asked on a regular basis based on my customers finding [non-favorable information about Node.js in articles](https://dzone.com

[2018-05-01 19:51] nickkooper commented on #58
I definitely want to participate in the discussion. Last time I'm interested in the decomposition of the main thread, with the transfer of CPU bound tasks, APM agents, logging, and other logic with blocking execution to individual processes. I did measurements and got good results.
@mhdawson  Thanks for the invitation again!

[2018-05-01 20:45] aheckmann commented on #58
I can make this one.

[2018-05-01 23:39] bnb commented on #58
I should be able to make this 👍

[2018-05-02 00:55] mihaiep commented on #58
I won't be able to attend this one, due to my travelling in Europe, I’ll be on the plane at that time, returning to US. I’ll watch the recording afterwards on Youtube and then handle the md-meeting notes.

[2018-05-02 15:08] mcollina commented on #58
The above information is not completely correct

most of `fs` is executed in a Thread Pool. However all network operations are executed in fully asynchronous way through kernel primitives (epoll, kqueue, IOCP, event ports, etc).
A better phrasing is "..handled via kernel primitives (epoll, kqueue, IOCP, event ports) or through a Thread Pool, so that those operations do not block the main thread".

[2018-05-02 19:03] aaronbartell commented on #58
@mcollina Thank you for your responses.

Do you have a favorite resource you like to point people at that adequately addresses the topic?  There's always [callbackhell.com](http://callbackhell.com/) but it doesn't digress into the more recent async/await.

On the IBM i platform (f.k.a. AS/400) we are limited to chroot environments for containerization :-(  They work "good enough" for most purposes

[2018-05-02 21:34] boneskull opened #59 "planning: tooling group feedback session"
Following up on the first tooling user feedback session, we want to gather points of discussion for future sessions.

From #38, these were the original questions from the first session:

We didn't have enough time to cover everything we wanted to--and give everyone a chance to speak--so future sessions should be more limited in scope.

I'll use this issue to gather ideas, and distill them into a "

[2018-05-02 21:50] boneskull commented on #59
One that came up offline (and I think I may have mentioned briefly) in the "what isn't working" category is portability. I'd like to expand on that a bit, from the perspective of a tooling author.

- `fs.watch()` is seemingly neglected, and doesn't work well outside of Linux, giving rise to userland modules like [chokidar](https://www.npmjs.com/package/chokidar).  Ideally, `fs.watch()` would work

[2018-05-02 21:52] boneskull commented on #59
A feature request:

- GPU-accelerated code bindings ([original issue](https://github.com/nodejs/node/issues/18423); @TheLarkInn)

[2018-05-02 21:59] boneskull commented on #59
I also want to cc everyone else who participated in that session; please add anything here you want to discuss, but didn't get a chance to.  To all of you: This issue is for **gathering topics of discussion** for future Tooling-specific Node.js user feedback sessions.  Your input is greatly appreciated!

- @bamutov
- @benjamn
- @kentcdodds
- @jdalton
- @uttampawar
- @devsnek
- @kellyselden

Please

[2018-05-03 06:37] mcollina commented on #59
IMHO https://github.com/nodejs/user-feedback/issues/59#issuecomment-386132667 is extremely important.

[2018-05-03 15:28] mhdawson commented on #51
@gireeshpunathil FYI.

[2018-05-04 14:41] davicrig commented on #51
We currently embed the shared library in IBM Integration Bus, we recently updated in quick succession from node 4 through 6 to node 8 and found the upgrade process pretty painful so anything we can do to help stabilise the interfaces or improve our own integration would be a benefit to us.

We are a bit unusual in that we also embed a JVM and on windows platforms a CLR as well so we may have some

[2018-05-04 20:11] boneskull commented on #59
cc @bahmutov, sorry misspelled it

[2018-05-05 20:53] ahmadnassri commented on #58
I really wish I could make this meeting, and provide some counter enterprise context to the topics mentioned in the article @aaronbartell linked. but sadly I will be traveling.

I would add that the community would benefit from having strong articles in recognized publications _(such as DZone!)_ and especially Enterprise-friendly publications (e.g. Forbes, FastCompany, etc ...) print and online ra

[2018-05-07 12:05] mhdawson opened #60 "Node.js Foundation User Feedback Meeting 2018-05-11"
## Time

**UTC Fri 11-May-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 11-May-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 11-May-2018 10:00 (10:00 AM) |
| US / Central  | Fri 11-May-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 11-May-2018 12:00 (12:00 PM) |
| London        | Fri 11-May-2018 17:00 (05:00 PM) |

[2018-05-07 13:14] mhdawson commented on #60
Duplicate closing

[2018-05-07 13:14] #60 closed

[2018-05-07 14:47] mhdawson commented on #51
@davicrig sounds good, your insight will be valuable.

[2018-05-08 20:52] yhwang commented on #51
With @mhdawson help, we plan to have a conference call to discuss about the shared lib usage and try to form the group for embedding users. Here is the agenda:

================================
- Introductions
- Update on work so far (Yi-hong and others)
- Areas for investigation/discussion
  - Use cases
    - List top level use cases
    - Flesh out each use case/document
  - APIs
     - Document

[2018-05-10 18:17] mhdawson commented on #51
@gabrielschulhof adding you as an FYI as from your comments in a different issue I'm hoping you are interested in participating here as well.

[2018-05-11 15:56] bnb commented on #58
Join link: https://zoom.us/j/353642832

[2018-05-11 17:10] aaronbartell opened #61 "Survey for strong(er) typing"
In [this Node.js User Feedback meeting](https://github.com/nodejs/user-feedback/issues/58) we discussed doing a survey to ask the community whether they're interested in having a strong(er) data typing presence (i.e. Typescript) be built into Node.js.

This issue is to kick off the conversation amongst the Node.js User Feedback group.

It was mentioned by @mhdawson that a 1hr meeting could most li

[2018-05-11 19:14] rkaw92 commented on #51
Hey, just letting you know that there's a project that embeds .NET in Node but also the other way around. Perhaps it can provide some additional usage context. https://github.com/tjanczuk/edge

[2018-05-11 22:31] NathanaelA commented on #51
I'd like to add that https://github.com/janeasystems/nodejs-mobile is a project that allows you to embed node into Android/iOS application Jaime @jaimecbernardo might be interested in this; as I believe it would simplify updates is this was a consistent interface.

[2018-05-14 16:01] kapouer commented on #51
Hi, in debian, it's considering to be "the right thing" to build (independently packaged) node addons against libnode-dev. I've enabled this with nodejs 10 debian package (which is sitting in experimental right now because many addons are still not compatible with node 10).
This to emphasize shared lib builds are not only useful for embedders, but for distributors as well.

[2018-05-14 22:33] mhdawson commented on #51
@kapouer are you talking about node.js as a shared library or things like openssl.  The topic of this thread is the former.

[2018-05-14 22:49] kapouer commented on #51
@mhdawson node.js as a shared library (which is as you point out, linked to other shared libs in debian).

[2018-05-14 23:43] yhwang commented on #51
@kapouer I guess the `libnode64` contains shared lib and `libnode64-dev` contains the header files. So distributors also care about the shared lib build as embedders. Thanks for the information.

[2018-05-14 23:49] yhwang commented on #51
The poll result is 15:00 - 16:00 UTC/GMT this Thursday (17/May). Look forward to talking with you then. I will send out the invitation later.

[2018-05-15 00:09] rogerwang commented on #51
Doodle was closed. Will try to attend on Thursday.

[2018-05-15 17:27] yhwang commented on #51
@rogerwang sorry for that and welcome to join the discussion on Thursday. And here is the zoom that we will use for the meeting: https://zoom.us/webinar/134723812

[2018-05-15 17:32] codebytere commented on #51
I'll be there :)

[2018-05-15 17:33] nitsakh commented on #51
Great! I'll join the meeting on 17th May.

[2018-05-16 06:48] deepak1556 commented on #51
I will also join the meeting on Thursday, Thanks!

[2018-05-16 13:08] jaimecbernardo commented on #51
Me and @orangemocha (https://github.com/orangemocha) from https://github.com/janeasystems/nodejs-mobile will also be joining on Thursday. Thank you!

[2018-05-16 23:45] SarahKConway commented on #52
when is the next meeting? Are there notes from previous meetings?

[2018-05-17 22:09] addaleax commented on #51
I’d suggest creating a @nodejs/embedding team with everybody from today’s call in it, mostly as a way of being notified about relevant PRs/APIs. Does that sound okay? Alternatively, we could create the team and add a list of people who explicitly opt-in, if we’d expect it to be too much noise for some people.

[2018-05-18 04:26] gireeshpunathil commented on #51
My observation from the first meeting is: potentially there are two ways to consolidate the embedding story:

 - Look at the current abstractions and interfaces of Node.js and see how embedders can best leverage that
 - Look at the existing and potential use cases and see how Node.js can tune its interface to match those

The problem with the first approach is that the relevant re-enterable consti

[2018-05-19 20:06] mhdawson commented on #51
+1 to @gireeshpunathil's suggesion. I think capturing/documenting the use cases will provide a strong foundation to start with.

[2018-05-19 20:10] mhdawson commented on #52
@mihaiep I think you are working on the minutes?

As for the next meeting I think we might have been thinking 2 weeks after next Friday, but don't think its settled yet.  @dshaw

[2018-05-21 12:05] mhdawson opened #64 "Node.js Foundation User Feedback Meeting 2018-05-25"
## Time

**UTC Fri 25-May-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 25-May-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 25-May-2018 10:00 (10:00 AM) |
| US / Central  | Fri 25-May-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 25-May-2018 12:00 (12:00 PM) |
| London        | Fri 25-May-2018 17:00 (05:00 PM) |

[2018-05-21 12:12] mihaiep commented on #52
All User Feedback minutes/notes are [here](https://github.com/nodejs/user-feedback/tree/master/meetings).  If you are talking about [notes](https://docs.google.com/document/d/1kswsnzh5ziblp3mcrKS8S3_UPGo7EK5MLybIoDCqxDM/) of May 11 will be available shortly via PR, and the recording of May 11, 2018 is [here](https://www.youtube.com/watch?v=eiN0gnAJNeU&t=10s).
Next User feedback meeting is on May 2

[2018-05-21 22:15] bnb commented on #59
Going to ping a few people who I know that work on OSS projects that use Node.js for  tooling in some cases.

To those I'm pinging: we're gathering points to discuss about Node.js + the tooling ecosystem and what we could do better/what's already working well. Would ❤️ your input if you've got the time to share it–and no worries if you don't!

@johnpapa may have some observations from the Angular

[2018-05-22 06:54] ladyleet commented on #59
Yeah for sure - well you know what is really missing is pinging the folks working on CLIs - they use Node.js *a lot* of course. This is something I really hope that in the next year or ongoing we can bring to light. It is one of the most essential and important use cases of Node.js IMO.

For RxJS - @benlesh can provide more info.
For Angular CLI - @hansl or @brocco
For Vue CLI - @yyx990803 or @chr

[2018-05-22 07:18] TheSavior commented on #59
I know I have a fair amount of thoughts here but I think @zertosh has a superset of my thoughts so pinging him instead.

[2018-05-22 07:25] ladyleet commented on #59
@thesavior thanks much! @zertosh love to have you as a part of this conversation.

[2018-05-22 12:58] chrisvfritz commented on #59
I'm not sure I have much to add beyond what @boneskull [already mentioned](https://github.com/nodejs/user-feedback/issues/59#issuecomment-386132667) regarding portability. That's the only significant pain point that's coming to mind. I personally don't mind pulling in separate packages, but when a built-in exists it's frustrating when it doesn't work cross-platform. A lot of people have to learn t

[2018-05-22 17:29] yhwang commented on #51
@mhdawson @gireeshpunathil I think that's why we need the input from user perspective. Embedding users have their pain points and actually they also have their workaround. We should work together to integrate their solutions or enhance the node.js and make a better embedding experience.

@addaleax `@nodejs/embedding` is great. Can I create it?

@gireeshpunathil thanks for your input. we should put

[2018-05-22 19:41] cb1kenobi commented on #59
I am one of the lead engineers for Appcelerator Titanium SDK's Node.js-based CLI's and tooling, which began 6 years. I went through our projects and analyzed the boilerplate functions and dependencies and here's my first pass list of things:

- As stated above, `fs.watch()` has serious cross platform issues which I have worked around in [appcd-fswatcher](https://github.com/appcelerator/appc-daemon

[2018-05-22 21:17] styfle commented on #61
I really like TypeScript but I'm not sure how to integrate it properly besides using something like [node-ts](https://github.com/TypeStrong/ts-node).

Is that what you are suggesting?

[2018-05-22 22:03] addaleax commented on #51
Sure, go ahead! If you can’t create teams because you’re not an org admin, just let me know.

[2018-05-22 23:04] aaronbartell commented on #61
@styfle,

Good question.

Part of the original conversation included pondering a survey option that asked whether we should promote this request all the way up to the Javascript specification so Node.js would inherently get it in the future.

Also in the original conversation it was mentioned that proposing types for Javascript has already happened and declined.  I am not well versed in where to l

[2018-05-23 03:12] rogerwang commented on #51
@yhwang In NW.js we
1. starts Node instance with different V8 settings for Chromium integration. The v8 settings call is currently hardcoded in Node start process.
2. starts/stops multiple Node instances in different threads; This enables Node.js working within Web Worker.

[2018-05-25 10:55] orangemocha commented on #51
@yhwang , from the perspective of [nodejs-mobile](https://github.com/janeasystems/nodejs-mobile):

* We embed Node as a library into mobile apps, using V8 on Android and ChakraCore on iOS. The Node engine runs as a singleton in a dedicated thread.
* We expose `node::Start` as the main entry point of the library, for use in native apps. We also ship plugins for Cordova and React Native that provide

[2018-05-25 11:16] gireeshpunathil commented on #51
@orangemocha -  interesting scenarios!

did you mean `not` as opposed to `now`?

can't we solve this by simply redefining `console.log` and `console.error` and piping them to the desired streams before entering  app code, or is it more complex than that?

[2018-05-25 14:04] mihaiep commented on #64
We need to close a couple of old issues. Proposal: #42, #46, #52, #53, #58.

[2018-05-25 15:40] dshaw commented on #42
Thank you, @mihaiep and @mhdawson, for getting this setup.

[2018-05-25 15:40] #42 closed

[2018-05-25 15:40] #46 closed

[2018-05-25 15:41] #52 closed

[2018-05-25 15:41] dshaw commented on #53
Still open and in need of contribution.

[2018-05-25 15:43] dshaw commented on #64
@mihaiep Closed all except #53, which still needs work. Thank you.

[2018-05-25 15:59] dshaw commented on #64
Meeting link: https://zoom.us/j/353642832

[2018-05-25 16:17] styfle commented on #64
It's asking me to install software.
Can I join from my browser?

[2018-05-25 16:29] dshaw commented on #59
@boneskull We are looking at 2018-06-08 for the next session.

[2018-05-25 16:35] dshaw commented on #64
Not that I'm aware.

[2018-05-25 16:46] orangemocha commented on #51
@gireeshpunathil

Yes :) Edited inline. Thanks.

That is certainly feasible, and probably a fine solution. Currently we are redirecting the underlying process.stdout/stderr streams, but I have no knowledge of use cases out there that depend on those.

[2018-05-25 16:52] styfle commented on #64
https://support.zoom.us/hc/en-us/articles/115005666383

[2018-05-25 17:57] dshaw opened #66 "Invite @ahmadnassri to Champion Enterprise focus area"
Action item from #64:
@dshaw will reach out and include @mhdawson in the discussion.

[2018-05-27 18:17] zertosh commented on #59
I work on internal developer tools at Facebook - mostly on CLI tooling for developers working in our monorepo. There's a huge ecosystem of tools in this space, and some of it is written in JS running on Node. Other tooling is written in Python, PHP/Hack, Bash and even Rust. So Node often gets compared to these (I won't go into that here).

* Cross-platform support.
  - Tooling has to work on Macs,

[2018-05-29 13:11] davicrig commented on #51
Background

IBM Integration Bus is an Integration Platform provides a graphical programming environment for connecting disparate systems including transformation, enrichment, enhancement etc of inflight data flowing between these systems. User built applications are executed on a native C++ server process that also embeds a number of specific language runtimes (Java, .NET (on windows), nodejs.

Fu

[2018-05-29 17:52] boneskull commented on #59
@zertosh great feedback, thanks.  "Node.js CLIs at scale" brings up some pain points I hadn't heard before.

[2018-05-29 18:12] boneskull commented on #59
@cb1kenobi Thanks!  I was wondering if you can explain this further:

- A lighter-weight sandbox construct. vm.createContext() is perfect for 100% isolation, but I want a jail. If the code in the sandbox throws a TypeError, I can catch it outside, but I can't do an instanceof TypeError because the built-in types are not the same definition.

I'm not sure what you mean by "jail" or how what you wan

[2018-05-29 18:42] cb1kenobi commented on #59
@boneskull When I did it, I didn't use `global`. My use case was to run untrusted code in a sandbox/jail where the code couldn't modify `global` or do things like `process.exit()`.

I tried defining my own global object, but I found myself passing globals in such as `TypeError`, `RangeError`, etc so that my `instanceof` checks worked. This turned out to be a huge pain and that [vm2](https://github

[2018-05-29 19:22] boneskull opened #68 "Node.js Foundation User Feedback Meeting 2018-06-08: Tooling Feedback Session"
# Time

**Friday, June 8th 2018**, 16:00 UTC (4:00 PM), or in [your local time](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+User%20Feedback+Meeting+2018-06-08&iso=20180608T16)

# Agenda

We will **gather user feedback** from Tooling group.  For this session, I've selected a few "hot-button" issues from #59 which we will discuss:

- Cross-platform problems (`fs`, `c

[2018-05-29 23:50] stefanpenner commented on #59
ember-cli is implemented in node, this enables us to:

* share developer mindshare between our consumers (often JS developers) and our tooling
* utilize tools such as Babel for client side code (and it's various TC39 experiments)
* relatively easy and portable installation story (compared to ruby, or etc..)
* gives us the knowledge/power of V8/TC39 and the various Node TC's in our foundation. (eac

[2018-06-05 14:33] aaronbartell commented on #58
Where would be the best place for me to log future "community questions" topics?

In a previous User Feedback meeting @dshaw made a good observation that topics have been thoroughly debated in the past by Node.js early-adopters, though now there is a next round of Node.js adopters and they have the same questions.

The challenge with the next Node.js adopters is wading through all the opinions on

[2018-06-05 17:54] mhdawson commented on #58
@aaronbartell I think we can put together an FAQ and once we think it is ready for broader review open a PR to add it to the nodejs.org website.  At that point we'd want to solicit broad input to make sure there is consensus on the answers.

[2018-06-06 17:19] boneskull commented on #68
@dshaw or @bnb Could you please provide video links?

[2018-06-06 18:00] boneskull commented on #59
@stefanpenner Thanks.  I've also had struggles with exit hooks.  Core could provide a better experience here.

(Discussion around npm is out-of-scope for us, however.)

A proper async module loader seems like it could improve startup time of CLIs (I'm not current on what's happening w/ Modules, unfortunately).

[2018-06-06 18:09] ladyleet commented on #59
Thx @stefanpenner for chiming in!

[2018-06-06 18:21] boneskull commented on #68
@dshaw, @bnb, @mhdawson Is it possible to have someone record minutes or take notes?

[2018-06-06 21:43] mhdawson commented on #68
Link for the zoom meeting: https://zoom.us/j/168395218

[2018-06-06 21:44] mhdawson commented on #68
In terms of minutes, we can create a google doc.  It works best to have a few people helping to capture what is being discussed, we'll also record the session as well.

[2018-06-07 07:45] hussamElmaghraby opened #69 "NodeJs"

[2018-06-07 19:06] hansl commented on #59
Hi there, Angular CLI lead here.

Angular CLI is built using TypeScript and runs using Node. It's a CLI tool to create, manage and deploy Angular applications and libraries. We do not have an addon system (yet), but we do use libraries for workflows (Schematics) and tasks (Architect) which allow extension points from the user. These are dynamically loaded on a need basis.

Reusability of knowledge

[2018-06-07 19:07] ladyleet commented on #59
@hansl thank you so much! :)

[2018-06-07 22:48] stefanpenner commented on #59
@boneskull we use: `time-require` to debug these issues, but its a fairly brittle/easy to regress model. Strategies to reduce disk IO during startup for CLI's would likely be handy. I can imagine several approaches, all possible but require some someones time.

[2018-06-08 15:33] boneskull commented on #68
@mhdawson @dshaw @bnb Do we have a YouTube link?

[2018-06-08 15:58] mhdawson commented on #68
Just a sec, pulling the standard link from another issue

[2018-06-08 15:58] mhdawson commented on #68
We stream our conference call straight to YouTube so anyone can listen to it live, it should start playing at https://www.youtube.com/c/nodejs+foundation/live when we turn it on. There's usually a short cat-herding time at the start of the meeting and then occasionally we have some quick private business to attend to before we can start recording & streaming. So be patient and it should show up.

[2018-06-08 16:04] bnb commented on #68
Did the meeting die? Looks like we may have a conflict with Mentorship :/

[2018-06-08 16:04] boneskull commented on #59
We're now starting a user feedback session.  Join us at https://zoom.us/j/168395218 or just watch at https://youtube.com/c/nodejs+foundation/live

[2018-06-08 16:04] boneskull commented on #59
@hansl @stefanpenner @zertosh please join!

[2018-06-08 16:05] dshaw commented on #68
@bnb No mentorship meeting at this time. Folks are logged on.

[2018-06-08 16:05] dshaw commented on #68
Might be your local calendar.

[2018-06-08 16:06] bnb commented on #68
@dshaw can you send the link again? It's telling me I need to be signed in to start the meeting 🤔

[2018-06-08 16:06] dshaw commented on #68
https://zoom.us/j/168395218

[2018-06-08 16:08] mhdawson commented on #68
Should be starting in around 3-5 minutes.

[2018-06-08 16:08] bnb commented on #68
Not working :/
![image](https://user-images.githubusercontent.com/502396/41168655-97884f86-6b14-11e8-9082-b0ed04b54b19.png)

[2018-06-08 16:08] dshaw commented on #68
@mhdawson Suggests logging out

[2018-06-08 16:09] dshaw commented on #68
I keep getting logged out. @bnb log in on personal account.

[2018-06-08 18:48] jsumners commented on #59
I understand the desire for `fs` to be minimal, but if it's going to support creation and removal of objects, it should also support nested creation and removal. Admittedly, these are not operations the underlying C/C++ API perform, but Node is a higher level and should provide at least some extra benefit in this area.

[2018-06-08 19:15] stefanpenner commented on #59
@boneskull oh man, I wish I would have known. I would have attended, any future sessions planned?

[2018-06-08 19:15] boneskull commented on #59
@jsumner This is a good point

[2018-06-08 19:20] boneskull commented on #59
@stefanpenner yes but no dates yet. it will not be the same time slot.

[2018-06-08 19:42] stefanpenner commented on #59
I would like to add an additional FS related area of improvement: Directory/File Traversal.

1. efficiency of `fs.readdirSync` + `fs.statSync` vs python (or rusts) [os.scandir()](https://www.python.org/dev/peps/pep-0471/)
2. confusion around globbing: glob/micromatch/minimatch bug or feature inconsistencies between versions and libraries result in confusing user experiences.

With 1. user-land cou

[2018-06-08 19:43] stefanpenner commented on #59
@boneskull keep me posted, I will make time (as long as I know ahead of time)

[2018-06-08 20:06] styfle commented on #59
I watched the youtube live stream and I agree with most of the issues brought up.

Basically, bring these into core `fs`:

- mkdirp
- rimraf
- graceful-fs?

Also, `os.arch()` and `process.arch` are misleading because it gives you the architecture that Node was built with, not the architecture of the user's OS.

Although it seems like 32bit is slowly going away?

[2018-06-11 17:28] bnb commented on #69
Going to close this... can't get any information or understand the prupose 👍

If there's something you'd like to share or ask, please feel free to create another issue with the proper context. Thanks!

[2018-06-11 17:28] #69 closed

[2018-06-11 18:01] cb1kenobi commented on #59
I just thought of something. We use Babel to transpile and we embed the source maps at the end of each file in the `//# sourceMappingURL=...`. Node 8 (not sure about 10) does not process the source maps, thus the line numbers in the stack traces aren't accurate.

Today we have to use `source-map-support` and call `register()` to patch `Error.prepareStackTrace()`. That's ok, but `source-map-support

[2018-06-11 20:16] boneskull commented on #59
it’ll be generally hard to argue that the savings of 940KB is worth the maintenance of taking that on in core. are we talking about resource-constrained systems? poor internet service? is there another good reason?

[2018-06-11 20:22] mhdawson commented on #51
@yhwang we should probably start planning the next meeting.

[2018-06-11 20:35] cb1kenobi commented on #59
I was going through my packages trying to slim them down and nearly every one of them depends on `source-map-support`. With package hoisting, it's not a super big deal. My main project still has 4 different versions of `source-map-support`.

Being that source maps will probably never go away, I don't think it's a horrible idea if there was first class support for them, though I'm fine with leaving

[2018-06-18 12:06] mhdawson opened #72 "Node.js Foundation User Feedback Meeting 2018-06-22"
## Time

**UTC Fri 22-Jun-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 22-Jun-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 22-Jun-2018 10:00 (10:00 AM) |
| US / Central  | Fri 22-Jun-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 22-Jun-2018 12:00 (12:00 PM) |
| London        | Fri 22-Jun-2018 17:00 (05:00 PM) |

[2018-06-22 16:02] mhdawson commented on #72
meeting link https://zoom.us/j/353642832

[2018-06-22 17:08] mihaiep opened #73 "User Feedback Team Meeting 2018-07-06"
Invite people for our next meeting; guests, Ben on Promises session (@benjamingr) and Ahmad.

[2018-06-22 17:09] mihaiep opened #74 "Node.js Foundation Public User Feedback Meeting 2018-07-16"
Agenda TBD.
Node.js Public User Feedback: General User Feedback Session,
**Mon Jul 16, 2018 9am – 10am Pacific Time**
Watch:
https://www.youtube.com/c/nodejs+foundation/live
Join:
https://zoom.us/j/353642832

[2018-06-23 02:59] mihaiep commented on #72
Meeting notes [here](https://docs.google.com/document/d/1v9iX6RyCjINL6gbes1bSOVN93-vbxuVvAwzsF83kchI). Will be available via PR also. Thank Tierney helping with this.
**Highlights:**
1. Calling for contacts in Austria, Eastern Europe side, to get some connections set up ahead of time, for the conference. Thank you Dan!!!
2. Upcoming Meetings: 2018-07-06 User feedback meeting: guests Ben & Ahmad #7

[2018-06-24 07:41] benjamingr commented on #73
Hey, will do my best to make it.

[2018-07-02 12:05] mhdawson opened #76 "2018-07-06 User Feedback Team Meeting"
## Time

**UTC Fri 06-Jul-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 06-Jul-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 06-Jul-2018 10:00 (10:00 AM) |
| US / Central  | Fri 06-Jul-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 06-Jul-2018 12:00 (12:00 PM) |
| London        | Fri 06-Jul-2018 17:00 (05:00 PM) |

[2018-07-05 17:30] dshaw commented on #76
Promisified Node.js APIs:
* [dns: add promisified dns module #21264](https://github.com/nodejs/node/pull/21264)

[2018-07-06 16:02] bnb commented on #76
@dshaw join link?

[2018-07-06 16:22] dshaw commented on #56
@mihaiep Unfortunately, there was very low turnout. No recording. We did have a constructive session speaking with local organizers.

[2018-07-06 16:40] mihaiep commented on #74
For some reason I close this by mistake. Re-open

[2018-07-06 16:43] benjamingr opened #77 "Public User Feedback request - Promises"
Following discussion in https://github.com/nodejs/user-feedback/issues/76 and https://github.com/nodejs/promise-use-cases/issues/26 we want to get some questions going for the Node.js promises usability and debuggability survey.

Going to try something - let me know if it's inappropriate :)

**Post questions as comments** - use 👍 and 👎 in order to indicate whether you think other questions should

[2018-07-06 16:45] benjamingr commented on #77
What is your role in the company?

 - Developer, I typically am not the person to debug production issues
 - Developer, I typically am the person to debug production issues
 - DevOps / Operations Engineer, I typically am not the person to debug production issues
 - DevOps / Operations Engineer, I typically am the person to debug production issues
 - Other (please specify)

[2018-07-06 16:46] benjamingr commented on #77
Which do you use the most often in order to write async code:

 - Promises without `async/await`.
 - Promises with `async/await`.
 - Node.js standard `(err, data)` callbacks.
 - I don't use any of the above at all.

[2018-07-06 16:48] mihaiep commented on #76
Live on https://www.youtube.com/watch?v=ehTHsDTGbRM

[2018-07-06 16:48] benjamingr commented on #77
Do you use async iterators and  `for await(` loops with streams?

[2018-07-06 16:53] benjamingr commented on #77
Which of the following tools do you use in order to debug Node.js code at least once a week:
 - [ ] The Node.js inspector (`nodejs --inspect`)
 - [ ] Long Stack traces with an external library like Bluebird
 - [ ] core dumps + lldb
 - [ ] `gdb`
 - [ ] Adding `console.log` around code and running it

[2018-07-07 10:30] benjamingr commented on #77
What should the policy Node.js takes when an unhandled rejection occurs? For example - when an exception is `throw`n in an `async` function (or a `then` handler) but no code handles the error (`.catch`, `then` second param or `catch` in an async function).
 - I would expect Node.js to abort the process like on uncaught exceptions.
 - I would expect Node.js to stay silent about the error.
 - I woul

[2018-07-07 10:32] benjamingr commented on #77
Do you use promises with async_hooks?
 - I do not know what async_hooks are.
 - I do know what async_hooks are but am not using them at all or with promises.
 - I am using a third-party library that uses async_hooks with promises
 - I don't know if I am using promises with async_hooks
 - I am using promises with async_hooks in my code

If you answered "I am using promises with async_hooks in my co

[2018-07-07 10:38] benjamingr commented on #77
Is the performance of Node.js promises sufficient to you:
 - Node.js promises are still slow (even on the latest version) and significant effort needs to be put in before I can use them.
 - Node.js promises are slow - and while I am using them I think more time should be spent on optimizing them .
 - Node.js promises are fast and more effort should be spent on making them more debuggable rather th

[2018-07-10 16:34] mihaiep commented on #73
Closing this since we have #76 opened.

[2018-07-10 16:34] #73 closed

[2018-07-10 22:43] #56 closed

[2018-07-10 22:44] #64 closed

[2018-07-10 22:44] #68 closed

[2018-07-10 22:44] #12 closed

[2018-07-10 22:47] #58 closed

[2018-07-10 22:49] #72 closed

[2018-07-10 23:08] boneskull commented on #77
@benjamingr

What's the necessity of this?

A large proportion of Node.js users are using it for tooling; Node.js may only be used to bundle a site or run tests.  Those users may say they aren't using Node.js *in production* (I would).

Is this "which do you use most often" or "which do you prefer?"

Maybe this question could use a code example. :wink:

Maybe "IDE or Editor" should be added to thi

[2018-07-11 07:09] benjamingr commented on #77
@boneskull

To validate that our survey reached a diverse set of developers - and to check the bias of various groups. For example in the meeting some participants mentioned they believe operations engineers use post-mortem debugging techniques differently from developers.

It is "which do you use most often".

Not really sure, it's basically "whether or not you have `for await` in your code or no

[2018-07-11 07:16] giltayar commented on #77
I believe you forgot:

* Regular stack traces with native promises

Which is what I use to debug my tests when I'm not running them under a debugger (looking at the stack trace helps me figure out what the problem is.)

[2018-07-11 07:17] benjamingr commented on #77
@giltayar `Regular stack traces with native promises` can you show me an example of what you mean exactly?

[2018-07-11 07:17] giltayar commented on #77
How about adding a question about the use of `domain` with promises? While I know they're deprecrated and `async_hooks` are replacing them, I believe a lot of people still use them as they are higher-level abstraction use than `async_hooks`.

[2018-07-11 07:19] giltayar commented on #77
![image](https://user-images.githubusercontent.com/403268/42556264-b5147860-84f3-11e8-8e31-0010f2d4f2c4.png)

This is a stack trace from my mocha test (which was run just now...). I don't use bluebird, and so don't have long stack traces (and I wish native promises had them!), but I still use these stack traces to debug my code.

[2018-07-11 07:36] benjamingr commented on #77
@giltayar

Native promises have them with the inspector attached - as a "protip" you can run mocha with the node inspector running which enables long stack traces. Following the Berlin summit the V8 team are prioritizing and working on async stack traces in production. I will add the option - thanks for clarifying.

[2018-07-11 17:39] justsml commented on #77
I thought bluebird's long stack trace support was largely from native functionality `Error.stackTraceLimit = 50` or something similar?

[2018-07-11 17:54] naugtur commented on #77
On the async_hooks question, most people aren't aware that a tool like APM or a library is using hooks. A question more towards the goal of hooks with promises might give better results.
Do you track (or wish to) metrics on the time each function in your promise chains runs.

As for the current question, it could use clarification whether it's about just using promises and hooks in the same codeba

[2018-07-11 18:34] benjamingr commented on #77
@justsml no, we actually [keep context](https://github.com/petkaantonov/bluebird/blob/3746b7eca90dd8b11af73db5d30cf46d7dd90f9b/src/context.js). V8 does it on their side. `stackTraceLimit` helps with synchronous stack traces but not async ones.

----

@naugtur thanks for the suggestion - I agree that it's not optimal - I think "Do you track (or wish to) metrics on the time each function in your pro

[2018-07-12 05:30] #76 closed

[2018-07-12 15:57] mhdawson commented on #77
@yunong it would be great to get your input on these questions.

[2018-07-12 17:24] mhdawson commented on #77
For a number of them "Which of the following tools do you use in order to debug Node.js code at least once a week:"

I think adding an other where people can add their own would be good.

[2018-07-12 17:25] mhdawson commented on #77
I think adding Chrome developer tools as an option to "Which of the following tools do you use in order to debug Node.js code at least once a week:" would be good.

[2018-07-12 17:29] mhdawson commented on #77
@benjamingr what might also help is separately listing out what we want to understand based on the survey.  That will help when looking at the questions to see if there are any gaps.

[2018-07-13 08:51] ktrott commented on #77
At Netflix, everyone is full cycle engineers that are responsible for development and devops.

If your intent is to understand responsibilities, just separate out into explicit questions on each responsibility and whether that is part of their work/role. You could also provide a scale of how frequently or what percent of their role/time is that responsibility.

"Typically" is vague and open to man

[2018-07-13 08:57] ktrott commented on #77
Should you have a other writein option? What about Generators or Observables? Is it useful to learn about those cases too?

[2018-07-13 09:03] ktrott commented on #77
Why does it have to be "at least once a week"? Are my usages not valid otherwise? What about "which do you use frequently"

I would allow an other writein.

[2018-07-13 09:08] ktrott commented on #77
This text can be improved...

Example:
What should be the default policy of Node.js when an unhandled rejection occurs?

Should you allow other writein, instead of I would expect something else?

[2018-07-13 09:11] ktrott commented on #77
Maybe just ask that then because the current question is hard to parse. I had to re-read few times.

[2018-07-16 05:17] misterdjules commented on #77
See https://github.com/nodejs/promises-debugging/pull/12 for a survey I did recently at Netflix. There might be good questions/possible answers to borrow from it, but also probably good examples of mistakes we should avoid.

[2018-07-16 12:05] mhdawson opened #79 "Node.js Foundation User Feedback Meeting 2018-07-16"
## Time

**UTC Mon 16-Jul-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 16-Jul-2018 09:00 (09:00 AM) |
| US / Mountain | Mon 16-Jul-2018 10:00 (10:00 AM) |
| US / Central  | Mon 16-Jul-2018 11:00 (11:00 AM) |
| US / Eastern  | Mon 16-Jul-2018 12:00 (12:00 PM) |
| London        | Mon 16-Jul-2018 17:00 (05:00 PM) |

[2018-07-16 14:46] mhdawson commented on #79
Duplicate of https://github.com/nodejs/user-feedback/issues/74, closing.

[2018-07-16 14:46] #79 closed

[2018-07-16 14:47] mhdawson commented on #66
We've talked to ahmadnassri and he has agreed. Closing.

[2018-07-16 14:47] #66 closed

[2018-07-17 14:36] mhdawson commented on #77
The foundation does have a data specialist that reviews the questions and will give us some suggestions.

[2018-07-25 16:42] benjamingr commented on #77
I am +1 on the Google Doc and will try to move it there next week. I want to release the survey in about a month if possible.

[2018-07-25 17:30] misterdjules commented on #77
@mhdawson What's the best way to create a Google doc that every collaborator and/or foundation member can edit/comment on?

[2018-07-25 19:49] benjamingr commented on #77
@misterdjules I think it's fine to create a public one and open it to comments and to allow people who are not collaborators contribute comments and suggestions and only "devolve" to a more closed form later on as and if required.

[2018-07-30 12:05] mhdawson opened #80 "Node.js Foundation User Feedback Meeting 2018-07-30"
## Time

**UTC Mon 30-Jul-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 30-Jul-2018 09:00 (09:00 AM) |
| US / Mountain | Mon 30-Jul-2018 10:00 (10:00 AM) |
| US / Central  | Mon 30-Jul-2018 11:00 (11:00 AM) |
| US / Eastern  | Mon 30-Jul-2018 12:00 (12:00 PM) |
| London        | Mon 30-Jul-2018 17:00 (05:00 PM) |

[2018-07-30 16:00] mhdawson commented on #80
Link for participants: https://zoom.us/j/353642832

[2018-07-30 16:18] dshaw commented on #77
What is your primary role in your workplace?
* Engineering Manager
* Operations Manager

[2018-07-30 16:20] dshaw commented on #77
Which do you use the most often in order to write async code:

* Both async/await and plain Promises

[2018-07-30 16:20] mhdawson commented on #77
@misterdjules I don't know of an easy way to limit a google doc to the org.  The options I know of are inviting specific emails or making a link that is editable to anybody who has access to the link.

We can also make one were anybody can comment as opposed to editing directly.

I'd tend to agree that we make it open and adjust only if needed.

[2018-07-30 16:59] dshaw opened #81 "2018-08-16 End User Feedback Meeting - Enterprise Use Case"
# 2018-08-16 End User Feedback Meeting - Enterprise Use Case

## Time

Thursday, 2018-08-16 at 17:00 UTC / noon ET / 11am CT / 9am PT

## Links

* **Minutes Doc**: TBD
* **Previous Minutes Doc**: TBD

## Agenda

This is a public User Feedback meeting with invited participants focused on a specific topic, the Enterprise Use Case for Node.js. Please feel free to propose items for discussion to be ad

[2018-07-30 17:06] dshaw opened #82 "Evolving General User Feedback by hosting an online Node.js Meetup"
The last couple General User Feedback sessions have struggled to get traction with Users.

We have decided to pivot and help offer more content and connectivity to the Node.js project by hosting an online meetup. We will also take advantage of Meetup.com's infrastructure which does a great job of managing recurring meetups.

TODO:
* Create issue for first meetup
* Create meetup page
* Plan meetup

[2018-07-30 18:10] mhdawson commented on #81
Unfortunately, I'm away on holiday the week of this meeting but I'll follow up afterwards to see if there is anything @ahmadnassri needs to keep the momentum going :)

[2018-07-30 18:38] misterdjules commented on #77
Created a Google doc at https://docs.google.com/document/d/1ZwS8ITwsgzcmIdoqFw5jKlx4_C0S1_pY4vqSPSI_Sfs/edit?usp=sharing that I suggest we use to collaborate on it. As mentioned in that document, I'd suggest we first determine what the goals are for this survey and only then work on the actual survey questions.

[2018-07-31 20:38] boneskull commented on #82
Can the tooling effort leverage this as well?

[2018-07-31 20:38] boneskull commented on #82
cc @bcoe

[2018-08-02 21:54] mhdawson commented on #82
@boneskull what did you have in mind.  We were thinking that a meetup would be better in terms of getting broader participation than we've been able to achieve in the general working group and that it might be a funnel for people in the other user-feedback efforts.

Is it that you think the interaction provided scheduling as a meetup as opposed to github  issues would be easier and more accessible

[2018-08-03 03:00] boneskull commented on #82
@mhdawson I don't know.  if we can get more people, I'll try anything.  Mainly, I just want to hitch the wagon to something "official".

What I'm curious about is this: meetup.com meetups are specific to cities. , right?  Yet I'm assuming that a Node.js User Feedback meetup would be (at least partially) "virtual".  Even if the user feedback group is able to draw attention *off* of the platform, th

[2018-08-07 19:10] mhdawson commented on #82
@boneskull we have not thought through all of the challenges yet.  In the last meeting we were discussing that one of the problems with the general group is that not everybody was comfortable with github and the workflow we were using.  We came up with the idea of using the meetup infra as an already existing infrastructure.

What I'd suggest is that we work through the issues for the general user

[2018-08-11 05:50] jchip commented on #81
Hi, I will join the meeting.  thanks.

[2018-08-13 12:05] mhdawson opened #85 "Node.js Foundation User Feedback Meeting 2018-08-16"
## Time

**UTC Thu 16-Aug-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 16-Aug-2018 09:00 (09:00 AM) |
| US / Mountain | Thu 16-Aug-2018 10:00 (10:00 AM) |
| US / Central  | Thu 16-Aug-2018 11:00 (11:00 AM) |
| US / Eastern  | Thu 16-Aug-2018 12:00 (12:00 PM) |
| London        | Thu 16-Aug-2018 17:00 (05:00 PM) |

[2018-08-16 16:13] dshaw commented on #81
Participate in the live session: https://zoom.us/j/353642832

[2018-08-16 16:13] mihaiep commented on #81
Live now https://www.youtube.com/watch?v=mDE6G6I180w

[2018-08-16 16:14] #85 closed

[2018-08-23 12:30] ahmadnassri commented on #81
minutes doc: https://docs.google.com/document/d/187IFxgsW8YKoJvKF0Kv27HKaEBFm99WYsbzht32uHVg/edit

[2018-08-27 12:05] mhdawson opened #89 "Node.js Foundation User Feedback Meeting 2018-08-31"
## Time

**UTC Fri 31-Aug-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 31-Aug-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 31-Aug-2018 10:00 (10:00 AM) |
| US / Central  | Fri 31-Aug-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 31-Aug-2018 12:00 (12:00 PM) |
| London        | Fri 31-Aug-2018 17:00 (05:00 PM) |

[2018-08-27 19:07] bnb commented on #81
Going to close this, since the meeting is in the past ❤️

[2018-08-27 19:07] #81 closed

[2018-08-29 22:32] mhdawson commented on #89
Sorry, won't be able to make it this week, as mentioned most Friday over the Summer don't work for me.  Will catch up afterwards.  Please let me know if there is anything specific I should follow up on.

[2018-08-29 22:32] mhdawson commented on #82
@dshaw any update on this?

[2018-08-31 16:02] dshaw commented on #89
Live link: https://zoom.us/j/353642832

[2018-08-31 16:12] dshaw commented on #82
Yes. https://www.meetup.com/Nodejs-Online-Meetup/

[2018-08-31 16:59] dshaw opened #90 "September 2018 Node.js Online Meetup"
Meetup: https://www.meetup.com/Nodejs-Online-Meetup/

Meetup Link for the event: https://www.meetup.com/Nodejs-Online-Meetup/events/srcvdqyxmbqb/

Join and participate: https://zoom.us/s/997723299

Watch live on YouTube: https://www.youtube.com/c/nodejs+foundation/live

Agenda:
  - 5pm ET - Gather and socialize
  - 5:30pm to 6:30pm ET - Talks
  - 6:30pm to 7:00pm - Open discussion

Invited speaker

[2018-08-31 17:00] dshaw commented on #82
September meetup invitation: https://github.com/nodejs/user-feedback/issues/90

[2018-08-31 20:52] Trott commented on #90
@dshaw Can you edit the title and/or description text to include the date? I see by clicking through to the link that it's September 12, but it would be good to have it right here I think.

[2018-08-31 22:36] dshaw commented on #89
@mihaiep I created the Community Corner proposal: https://github.com/nodejs/admin/issues/219#issuecomment-417806087

[2018-09-05 20:45] mhdawson commented on #90
Agreed, I was looking for the date as well.

[2018-09-10 12:05] mhdawson opened #91 "Node.js Foundation User Feedback Meeting 2018-09-14"
## Time

**UTC Fri 14-Sep-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 14-Sep-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 14-Sep-2018 10:00 (10:00 AM) |
| US / Central  | Fri 14-Sep-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 14-Sep-2018 12:00 (12:00 PM) |
| London        | Fri 14-Sep-2018 17:00 (05:00 PM) |

[2018-09-12 21:32] mihaiep commented on #90
Live now: https://www.youtube.com/watch?v=_Thhx57-5Co

[2018-09-12 22:28] mihaiep commented on #90
Discussions: https://www.meetup.com/Nodejs-Online-Meetup/discussions/

[2018-09-13 13:37] mhdawson commented on #90
Link to slides from my presentation https://github.com/mhdawson/presentations/blob/master/2018/NodejsUserFeedbackMeetup%20-%20Sep%202018%20-%20Getting%20Involved%20-%20WGs%20and%20Strategic%20initiatives.pdf

[2018-09-14 15:04] ZibbyKeaton commented on #90
I mentioned this is an email to @mhdawson but I think this is something that we should collaborate on to try to build up this series and get a larger audience for it. I know we will not have one in October, but if we have a working calendar on upcoming events and topics, I can start to flesh out a promotional plan on it and we can coordinate on objectives and results that we would like to see comi

[2018-09-14 16:06] dshaw commented on #91
Join the meeting: https://zoom.us/j/353642832

[2018-09-14 18:40] Trott commented on #90
(Seems like this should be closed and other issues opened going forward. Feel free to comment or re-open if I'm wrong about that!)

[2018-09-14 18:40] #90 closed

[2018-09-14 19:10] ZibbyKeaton opened #92 "Coordinating Promotion of the Online Meetup Series"
I mentioned this is an email to @mhdawson and also on a different thread that was closed, but I think the Online Meetup Series is something that we should collaborate on.

I know we will not have one in October, but if we have a working calendar on upcoming events and topics, I can start to flesh out a promotional plan on it based on this group's objectives/goals for the initiative. Maybe we can m

[2018-09-20 21:18] mhdawson commented on #92
I think joining the next user-feedback meeting would make sense.

[2018-09-24 14:19] mhdawson opened #94 "Node.js Foundation User Feedback Meeting 2018-09-28"
## Time

**UTC Fri 28-Sep-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 28-Sep-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 28-Sep-2018 10:00 (10:00 AM) |
| US / Central  | Fri 28-Sep-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 28-Sep-2018 12:00 (12:00 PM) |
| London        | Fri 28-Sep-2018 17:00 (05:00 PM) |

[2018-09-27 12:09] ahmadnassri commented on #94
won't be able to make this one.

[2018-09-27 20:59] dshaw commented on #94
Unfortunately, I won't be able to either. My last interview panel landed this Friday and I will be onsite all day.

I asked @joesepi, but he's not available. @bnb or @mhdawson, do either of you want to lead the meeting? Otherwise, I'm going to have to cancel. My apologies for the late notice. All of my time and energy has been focused on wrapping up this job search.

[2018-09-28 00:08] dshaw commented on #94
@mihaiep I'm going to have to cancel tomorrow. My apologies once again for the late notice.

[2018-09-28 00:13] dshaw commented on #94
Cancelled

[2018-09-28 00:13] #94 closed

[2018-09-28 00:14] #91 closed

[2018-09-28 00:14] #89 closed

[2018-09-28 13:15] mhdawson commented on #94
Just noticed now, but I think its ok if we meed next time as I don't think anything on the agenda was pressing.

[2018-09-28 19:02] ZibbyKeaton commented on #92
I believe it has been canceled for the day. I can try to make it to what y'all will be doing at Node+JS Interactive.

[2018-10-01 14:48] mhdawson commented on #92
@ZibbyKeaton sounds good, see you there.

[2018-10-12 20:38] mhdawson commented on #51
FYI @codebytere.  @rubys is starting to get this started again (taking over from @yhwang).  From your the presentation at the collaborator summit it sounds like you would want to be involved.

[2018-10-22 12:06] mhdawson opened #95 "Node.js Foundation User Feedback Meeting 2018-10-26"
## Time

**UTC Fri 26-Oct-2018 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 26-Oct-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 26-Oct-2018 10:00 (10:00 AM) |
| US / Central  | Fri 26-Oct-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 26-Oct-2018 12:00 (12:00 PM) |
| London        | Fri 26-Oct-2018 17:00 (05:00 PM) |

[2018-10-26 11:51] mcollina opened #96 "Upgrading Problems - Can we help?"
It seems there is a significant problems in the ecosystem to migrate to a newer Node.js major version.
This is typically due to a module in the dependency chain that is not being updated.

I would like to gather some feedbacks, and start an initiative in how _we_ can improve the migration experience.

So, some questions I would like to float to the community:

1. What is stopping you to upgrade to

[2018-10-26 11:51] mcollina opened #116 "Upgrading Problems - Can we help?"
As Node.js 10.x becomes LTS next week,now is a good time to consider upgrading.

We understand that there are stometimes issues when migrating to a newer Node.js major version.
One of the things we have heard is that this can be due to a module in the dependency chain that is not being updated.

We would like to gather some feedback and better understand how we can improve the migration experience

[2018-10-26 12:45] styfle commented on #96
One way to improve the upgrade experience is to provide a tool that could statically analyze (most) of a package's source code and it's dependencies to detect if it will run on a specific version of Node. This could give higher confidence when upgrading because you will get errors prior to running in production.

Today, I use TypeScript to type check my code as well as interfaces for dependencies

[2018-10-26 13:35] mcollina commented on #96
(I've updated the text of the issue to be more clear!)

[2018-10-26 16:12] mihaiep commented on #95
Live https://www.youtube.com/watch?v=Z-j00gVUEpM

[2018-10-30 15:29] joesepi commented on #77
Was this discussed in #95 ? I'm interested in helping move this and #96 forward in tandem if that makes sense and is possible.

[2018-10-30 15:36] joesepi commented on #96
I'm happy to help shepherd this forward, perhaps in tandem with #77. What are next steps?

One meta question around these types of surveys -- should we establish a template and guide for building a user feedback survey initiative? Is the process for establishing a template/guide started/stalled in #53? Perhaps I should start there. :)

[2018-10-30 15:38] joesepi commented on #53
What is the goal here and how can I help?

It seems to me that for starters, we need a guide/template for creating and executing User Feedback surveys. Is that the scope expected in this issue?

[2018-10-31 13:28] cfanoulis opened #98 "Request to join the User Feedback Committee"
Good evening. With the following, I'd like to request to join the Committe. Please inform me of the procedure.

[2018-10-31 14:33] art2cool commented on #96
Thanks, it's awesome!

[2018-10-31 15:16] WaleedAshraf commented on #98
Hi @cfanoulis

There is some related info in [CONTRIBUTING.md](https://github.com/nodejs/user-feedback/blob/master/CONTRIBUTING.md)

[2018-10-31 15:30] ljharb commented on #96
(providing some feedback to help shape the survey)

The reason companies don’t upgrade is often not a lack of desire, but a lack of funding - money, time, people. Upgrading node (or rails, or ruby, or any “platform” technology) is risky, even when it comes with benefits.

One thing that sharply decreases the risk of upgrading is when all dependencies and APIs that we use can be updated to a versio

[2018-11-02 14:37] joesepi commented on #96
@mcollina I think a timed survey would be good to address Node 10 LTS and get us a snapshot but then I think it could be converted to an ongoing long term feedback collection process.

And if we take that approach, we can use our established process to get a survey out without too much delay/difficulty.

[2018-11-02 14:57] mhdawson commented on #96
I'm +1 on a survey as well.

[2018-11-02 14:58] mhdawson commented on #98
@cfanoulis I'd suggest starting by attending the next meeting and reading through the repo to catch on the existing work in the team.

[2018-11-02 16:15] mcollina commented on #96
+1

Il giorno ven 2 nov 2018 alle 15:57 Michael Dawson <notifications@github.com>
ha scritto:

[2018-11-02 16:39] mramato commented on #96
While Node has [great change logs](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V10.md), it can be frustrating to figure out what's new or significant between major LTS releases.  Since we exclusively use LTS, we didn't pay close attention to 10.x changes while it was non-LTS. It's tedious to go back and figure out what's different, especially when some changes/features have

[2018-11-02 16:57] targos commented on #96
I tried to start an initiative a while ago: https://github.com/nodejs/node/issues/18836
The problem is that I couldn't find the time to work on it myself and it stalled.

[2018-11-02 18:14] alexfernandez commented on #96
At my current company (Devo) we do massive event aggregation, ingesting many terabytes of data per day. As heavy Node.js users, our biggest concern is always performance. For instance there's [this issue with `tls.createSecurePair()`](https://github.com/nodejs/node/issues/20263) which we tracked down and merged a benchmark for; it makes it quite slow to first open a connection and then upgrade it

[2018-11-03 08:38] mcollina commented on #96
@alexfernandez thanks for reporting, would you mind sharing a comparative benchmark?

[2018-11-03 09:45] alexfernandez commented on #96
Sure! Running [this benchmark](https://github.com/nodejs/node/blob/v10.x-staging/benchmark/tls/secure-pair.js): results are for MB transferred on a clear connection secured using `tls.createSecurePair()`, with a realistic packet size of 1024 bytes.

Node.js version | MB transferred
-------------------|------------
8.12.0|2050
9.11.2|1796
10.13.0|1069
11.1.0|1180

As you can see they drop to around

[2018-11-03 10:00] mcollina commented on #96
Can you open an issue on nodejs/node and tag me? This is something we
should look into.

Il giorno sab 3 nov 2018 alle 10:45 Alex Fernández <notifications@github.com>
ha scritto:

[2018-11-03 14:16] dougwilson commented on #96
It is this six month old issue: https://github.com/nodejs/node/issues/20263#issuecomment-435458327

[2018-11-05 13:05] mhdawson opened #99 "Node.js Foundation User Feedback Meeting 2018-11-09"
## Time

**UTC Fri 09-Nov-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 09-Nov-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 09-Nov-2018 10:00 (10:00 AM) |
| US / Central  | Fri 09-Nov-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 09-Nov-2018 12:00 (12:00 PM) |
| London        | Fri 09-Nov-2018 17:00 (05:00 PM) |

[2018-11-05 14:33] RickBullotta commented on #96
Holy WTF Batman...I (mistakenly) chose the option to install the windows build tools for Node in 10.X. This installs some *SCARY* sh!t that opens up big security issues, and messes with Windows Update and UAC.  Remove that option.  Seriously. It's bad voodoo.  What was the thinking behind it, and why not at least let users/devs know the risks they're taking by installation Boxstarter and Choco?

[2018-11-05 14:35] RickBullotta commented on #96
It appears that certain native modules built for 8.X won't work after an upgrade to 10.X.  I've noticed it specifically with the piface module (on Ubuntu).

[2018-11-09 17:35] Jithinqw opened #100 "Moving away from node_modules"
For next releases of NodeJS we must move away from node_modules for each projects, which is a great issue for most of the NodeJS Projects.

[2018-11-09 17:48] dshaw opened #101 "General Node.js User Feedback - End User Stories"
For the next iteration of our online meetup, I'm looking for speakers and topics that can drive and inspire discussion and feedback on Node.js. I'd love to hear your suggestions.

Some ideas that I have:
* Observability with Promises
* Post-mortem Debugging
* Story of a Memory Leak

[2018-11-10 12:09] mihaiep opened #102 "Enterprise meeting proposal: 11/29/2018"
Submitting this issue per our meeting proposal: Enterprise meeting on November 29, 10 AM Pacific time.  Agenda is now open for issues/topics. Thanks.

[2018-11-10 12:41] mihaiep commented on #99
[Meeting notes](https://docs.google.com/document/d/1e501J778utbBYguBz3kVe-Pdmd6-MJ_sAoeMc9IdR2k) arrived.

[2018-11-13 22:29] cfanoulis commented on #98
closing as there is no action to be taken. Expect me on the next meetup tho :^)

[2018-11-13 22:29] #98 closed

[2018-11-19 19:30] i0natan commented on #102
What is the goal/scope of Enterprise meetings?

[2018-11-20 14:52] mihaiep commented on #102
@i0natan: Hi, this issue was opened for tracking per our team [meeting](https://github.com/nodejs/user-feedback/issues/99). @ahmadnassri who is the leader for this new group might be working on agenda or postpone this, due to Thanksgiving or holidays season. You can take a look on [previous](https://github.com/nodejs/user-feedback/issues?q=label%3Auser-feedback-enterprise) meetings/issues labeled

[2018-11-29 04:49] zuohuadong commented on #61
As a user, I would like to express my own views:
Our main motivation for using node.js comes from Nest.js, which is very friendly to typescript support.

The biggest obstacle to Typescript is V8, and I hope node.js can learn something from Dart.

[2018-11-29 14:54] mhdawson commented on #61
@zuohuadong can you add more details on how V8 is the obstacle?

[2018-11-29 15:16] zuohuadong commented on #61
@mhdawson

V8 is not Typecript's runtime.
1. Because the typescript needs to be compiled into JavaScript, it cannot achieve true AOP, and even typescript frameworks such as nest.js do not achieve true dependency injection (Ioc)。

2. We were unable to compile the typescript into binary, flutter eventually chose Dart.

At this stage, typescript can learn from Dart. If support for typescript is good

[2018-11-30 14:51] mhdawson commented on #61
@zuohuadong thanks for the additional info.

[2018-12-03 13:05] mhdawson opened #105 "Node.js Foundation User Feedback Meeting 2018-12-07"
## Time

**UTC Fri 07-Dec-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 07-Dec-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 07-Dec-2018 10:00 (10:00 AM) |
| US / Central  | Fri 07-Dec-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 07-Dec-2018 12:00 (12:00 PM) |
| London        | Fri 07-Dec-2018 17:00 (05:00 PM) |

[2018-12-04 18:47] joesepi commented on #77
Hey everyone @/here. I updated the Google Doc trying to collect the questions there. I am still parsing the comments on the questions though, so if someone wants to help, that would be great. The folks from the Foundation are ready to help us get this out there, so I'd like to get something together ASAP. Thanks! /cc @benjamingr @misterdjules @dshaw @ktrott @justsml @naugtur @justsml @boneskull @g

[2018-12-04 21:11] justsml commented on #77
Thanks for the update @joesepi - i added minor notes to the google doc.

There's one big thing that would really help people w/ Promises that _might_ fit alongside the `unhandledRejection` default behavior question...

I realize this _could_ be desired behavior (e.g. log something async & ignore its result, while continuing to load app data), however 99% of the time it's a bug that leads to race c

[2018-12-04 21:11] misterdjules commented on #77
@joesepi That's great, thank you for doing that! I'll try to take a closer look soon-ish, but I don't want to commit to something when my schedule is already very busy.

One thing I'd like to do is ask @SMotaal about his experience designing the ESM survey. He presented that survey during the latest collaborators summit and it seemed like he had a lot of good insights into how to design a survey t

[2018-12-06 06:40] chowdhurian opened #106 "Discuss Node.js documentation feedback survey"
@bnb opened [an issue](https://github.com/nodejs/website-redesign/issues/61) to formulate questions for getting feedback for Node.js documentation.

After several rounds of iteration and with the help of some rad new contributors, there is a [set of questions](https://docs.google.com/forms/d/e/1FAIpQLSeG7h9P3kI-bxOigL70noC1gLte8AC28tOiReulf79n7aUtuw/viewform) ready for review. 💆🏽‍♀️

[2018-12-07 17:24] mihaiep opened #107 "Proposal: working session User Feedback meeting on December 21,2018"
We should conclude all the info on surveys. Invite Julien and Benjamin for this working session?Promises survey

[2018-12-09 13:15] SonicLee007 opened #108 "Hi all, I would like to contribute code to nodejs"
Hello all, I've developed quite a bit of Node-RED nodes and flows based on NodeJS. I would like to contribute to the NodeJS, and I'm open to solving pretty much any issue that needs to be fixed.

[2018-12-12 19:39] joesepi commented on #77
@benjamingr @misterdjules would you two be able to pull the questions together in a way that gets satisfactory survey results since you have more context around this issue than I do currently? I want to facilitate this happening and am happy to take the survey questions through the process but I dont want it to get held up by me trying to craft the questions adequately. Thanks!

[2018-12-13 12:45] WaleedAshraf commented on #108
Hi @SonicLee007,
Thanks for your interest. You can take a look at our getting involved page: https://nodejs.org/en/get-involved/

Also take a look at: https://github.com/nodejs/community-committee Initiatives.

[2018-12-13 17:55] mihaiep commented on #105
Meeting notes [here](https://docs.google.com/document/d/13wgfgJpuGF2Jepzcc44-jGLGxaHOL1DCMy5dmHE_MMA)

[2018-12-17 13:05] mhdawson opened #110 "Node.js Foundation User Feedback Meeting 2018-12-21"
## Time

**UTC Fri 21-Dec-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 21-Dec-2018 09:00 (09:00 AM) |
| US / Mountain | Fri 21-Dec-2018 10:00 (10:00 AM) |
| US / Central  | Fri 21-Dec-2018 11:00 (11:00 AM) |
| US / Eastern  | Fri 21-Dec-2018 12:00 (12:00 PM) |
| London        | Fri 21-Dec-2018 17:00 (05:00 PM) |

[2018-12-18 20:46] #107 closed

[2018-12-18 20:46] mihaiep commented on #107
Closing this since we have #110

[2018-12-18 20:47] mihaiep commented on #110
Invite Julien and Benjamin for this working session if possible (Promises survey). Thanks

[2018-12-20 19:10] mihaiep commented on #110
I cannot attend this meeting. Happy holidays!

[2018-12-31 13:05] mhdawson opened #111 "Node.js Foundation User Feedback Meeting 2019-01-04"
## Time

**UTC Fri 04-Jan-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 04-Jan-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 04-Jan-2019 10:00 (10:00 AM) |
| US / Central  | Fri 04-Jan-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 04-Jan-2019 12:00 (12:00 PM) |
| London        | Fri 04-Jan-2019 17:00 (05:00 PM) |

[2019-01-09 13:42] viferga commented on #51
In my case I am building a high performance FaaS (Function as a Service) called MetaCall (https://metacall.io). For me it is was necessary to have embedding API for NodeJS. But as it was not possible I managed to solve it myself.

I have add a detailed post in another issue (https://github.com/nodejs/node/issues/23265#issuecomment-452690239) detailing how I have achieved it. With the MetaCall libr

[2019-01-14 13:05] mhdawson opened #112 "Node.js Foundation User Feedback Meeting 2019-01-18"
## Time

**UTC Fri 18-Jan-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 18-Jan-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 18-Jan-2019 10:00 (10:00 AM) |
| US / Central  | Fri 18-Jan-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 18-Jan-2019 12:00 (12:00 PM) |
| London        | Fri 18-Jan-2019 17:00 (05:00 PM) |

[2019-01-16 15:24] joesepi opened #113 "Establish and document a framework for User Feedback surveys"
Establish and document a framework to enable the community to do the steps needed to launch a user feedback survey that can be executed on by foundation staff.

There are several initiatives that have been seeded or are in some point in the process that need to be brought the finish line (or the starting line, as the case may be). If there were a clear framework in place, contributors would be emp

[2019-01-18 17:16] mihaiep commented on #112
Live now: https://www.youtube.com/c/nodejs+foundation/live

[2019-01-18 17:56] ladyleet opened #115 "Node User Feedback at Meetups"
Format
- 40 minutes total consisting of:
- 20 minute talk - perhaps about new releases and give meetup organizers a ppt that they can give and/or a list of local contributors
- 20 minutes user feedback conversation and collection

Goal:
- Open up issues while screensharing so they get into regular channels and tag the person (if so)
- Tell people that they are free to open issue as well during the

[2019-01-18 18:04] mhdawson commented on #116
Closing in favor of https://github.com/nodejs/package-maintenance/issues/136 as we believe the package-maintenance repo is the right place for this discussion to be handled now.

[2019-01-18 18:11] #116 closed

[2019-01-18 18:20] ladyleet commented on #113
- find the person who greg used to tweak the survey questions to make it less "biased"
- start setting up the flow
- how do we share back the results of the community (last time we put it in github)

[2019-01-18 19:37] ladyleet commented on #115
Create a PR to start getting meetups together https://github.com/nodejs/nodejs.org/pull/1992
And a list of Node speakers for local meetups https://github.com/nodejs/nodejs.org/pull/1993

[2019-01-23 20:48] KevinEady commented on #51
Hi @mhdawson ,

I've been doing some node embedding and development in my free time, focusing on integration with native C++ apps (and thereby using node-addon-api as well). I'm highly interested in where this goes, so I've subscribed to this issue. Is there anything else you would recommend I do so I can stay in the loop regarding node embedding and API changes? Not sure what this group is you me

[2019-01-28 13:05] mhdawson opened #118 "Node.js Foundation User Feedback Meeting 2019-02-01"
## Time

**UTC Fri 01-Feb-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 01-Feb-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 01-Feb-2019 10:00 (10:00 AM) |
| US / Central  | Fri 01-Feb-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 01-Feb-2019 12:00 (12:00 PM) |
| London        | Fri 01-Feb-2019 17:00 (05:00 PM) |

[2019-02-01 17:25] ladyleet commented on #115
5/2 - SF Node confirmed with Dan Shaw @dshaw
Toronto confirmed with Ahmad @ahmadnassri - pending review of guidelines for next schedule

[2019-02-01 17:25] ladyleet opened #119 "Guidelines for speakers going to Node meetups for IRL User Feedback"
Working on this! :) Will send shortly. Currently in editing process.

[2019-02-01 17:26] ladyleet opened #120 "Guidelines for meetups to host user feedback sessions"
In progress! Going through editing now.

[2019-02-01 17:33] ladyleet commented on #115
@obensource do you know when you could do one?

[2019-02-01 17:36] ladyleet commented on #115
@obensource what do you think of 5/9?

[2019-02-01 17:37] ladyleet commented on #115
@chowdhurian would you be interested?

[2019-02-01 17:43] ladyleet opened #121 "Inviting the Annual Node.js Survey owner to the next user feedback meeting"
Will invite them!

[2019-02-01 17:50] ahmadnassri opened #122 "Schedule Enterprise Feedback Group Meeting"
- Tie-in with next release date
- Suggested Date: **April 25th @ 1PM EST**
- Action Items:
  - [x] Email / Newsletter to Enterprise members, advise on release date & notify of meeting
  - [x] Calendar Invites for members
  - [x] if latest survey is ready, include in email
  - [x] Tie-in with Local Meetup call-to-action

[2019-02-01 17:51] mihaiep commented on #118
First version Meeting notes here: https://docs.google.com/document/d/1jnfZC_UucfrtOziEm99NgdH3mX8NVD40fplpCimz8JU/edit

[2019-02-01 17:53] mihaiep commented on #121
This should be for the next User Feedback meeting scheduled on Feb 15, 2019

[2019-02-01 17:53] ahmadnassri opened #123 "Draft Blog post for Enterprise Focus Group"
Discuss the "Why" "What" & "How" for introducing the Enterprise context.

## Outline

### What is _Enterprise Feedback Group_

### Who’s it for?

- Companies building on, or using Node.js and it's ecosystem with large development teams (50 to 100+) *OR*
- Companies building on, or using Node.js and it's ecosystem with large technology footprint (50+ projects)
- Need to be specific about ecosystem:

[2019-02-01 17:54] ladyleet commented on #121
Rachel, Amanda, and Sarah are all added to the cal invite.

[2019-02-01 17:56] ahmadnassri opened #124 "Local Meetups: Toronto"
Pilot local meetup context with Toronto JS

- [ ] include meetup on website: https://github.com/nodejs/nodejs.org/compare/master...ahmadnassri:patch-1
- [ ] include list of local speakers in toronto on website.
- [x] contact organizers and pick schedule

[2019-02-01 18:04] mihaiep commented on #118
6 new issues were opened during this meeting: #119,...,#123

[2019-02-01 20:16] ladyleet commented on #123
@ahmadnassri can we do a bullet point outline of what we want in this again?

[2019-02-02 02:31] ktrott commented on #122
I'm not sure if this is the appropriate place to ask this so feel free to redirect if not.

Where is it documented who the Enterprise members are? How does one join if interested?

Some of the links from the README of this repo go to old issues or a different repo that is not maintained: https://github.com/nodejs/enterprise-advisory-group

[2019-02-03 08:35] codeekage commented on #115
Hello All -

Can the meet-ups be extended to other location?

[2019-02-03 16:39] ladyleet commented on #115
@codeekage you mean can you host one? because if so then yes! :)

[2019-02-03 17:20] codeekage commented on #115
Oh cool. An email brief will be lovely. 😊 😁

[2019-02-04 05:38] chowdhurian commented on #115
I'm thinking about calling this meetup edition a Node.js Town Hall, folks. How does that jive with the Node.js vibe? :)

[2019-02-09 21:25] ladyleet commented on #115
Timur Shemsedinov from these two groups is interested as well.

NodeUA (2088 developers, 41 events)
https://www.meetup.com/NodeUA/

KievNodeJS (1380 developers, past 19 events)
https://www.meetup.com/KievNodeJS/

[2019-02-09 21:25] ladyleet commented on #115
@keywordnew i like that!!!! :)

[2019-02-11 13:06] mhdawson opened #127 "Node.js Foundation User Feedback Meeting 2019-02-15"
## Time

**UTC Fri 15-Feb-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 15-Feb-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 15-Feb-2019 10:00 (10:00 AM) |
| US / Central  | Fri 15-Feb-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 15-Feb-2019 12:00 (12:00 PM) |
| London        | Fri 15-Feb-2019 17:00 (05:00 PM) |

[2019-02-11 16:13] mhdawson commented on #127
Sorry won't be able to make it this week as I'll be at IBM's Think conference.

[2019-02-12 14:16] ladyleet commented on #123
@ahmadnassri just wanted to followup on this. maybe @mhdawson remembers what exactly we want for this article. :)

[2019-02-12 14:17] ladyleet commented on #123
maybe this format will help:

What is it?

Who’s it for? (Intended audience):

What’s the primary message you want that audience to come away with?:

Summary of project (any more details on the above):

[2019-02-15 16:55] dshaw commented on #122
@ktrott: Totally appropriate place to call that out. Thank you.

[2019-02-15 17:19] mihaiep opened #128 "Node.JS May 9, 2019 Portland talk"
Agenda now is open: we do have Intel interested in a demo/talk to accelerate networking.

[2019-02-15 17:22] ahmadnassri opened #129 "delete redundant repository referencing the enterprise feedback group"
at one point in time we created an additional repo to track the Enterprise Feedback context: https://github.com/nodejs/enterprise-advisory-group

we should delete / archive that repository.

[2019-02-15 17:37] mihaiep commented on #128
We are targeting PDX meet-up/talk on May 9, 2019.

[2019-02-15 17:48] mihaiep commented on #128
Confirmed participation: Dan Shaw, James Snell

[2019-02-17 00:07] mhdawson commented on #129
Agreed.  Issue in admin repo to get agreement to archive/delete: https://github.com/nodejs/admin/issues/302

[2019-02-18 14:24] SofiEstevez commented on #115
We've got more responses! All these people had said they are interested:

- Adam Davids - [London Node.js User Group](https://www.meetup.com/london-nodejs/) ( 2771 developers, 31 past events)

- Matt Walter - [NYC Node.js ](https://www.meetup.com/nodejs/)( 6018 developers, 80 past events)

- Alex Fernández -[ Node.js Madrid](https://www.meetup.com/Node-js-Madrid/) ( 3610 developers, 45 past events

[2019-02-18 15:00] ladyleet commented on #115
Woohoo! Very excited about ^^ @dshaw @ahmadnassri @codeekage

[2019-02-18 15:00] ladyleet commented on #115
@SofiEstevez can you please add manil and agiri's meetups to the sheet as well?

[2019-02-19 05:18] codeekage commented on #115
Developers in NYC are more than developers in Nigeria m. 😂 😂 😅

[2019-02-19 14:28] ladyleet commented on #123
hey @ahmadnassri any progress yet? :P

[2019-02-20 14:45] WaleedAshraf commented on #128
If there any link for the talk/event for agenda and details?

[2019-02-20 15:39] mihaiep commented on #128
Not yet. This issue was opened for tracking/ per our last Friday meet. Dan Shaw and James will be in Portland,OR and some Intel folks are interested. thanks

[2019-02-20 18:50] mhdawson commented on #123
@ladyleet what I remember is that it was to re-introduce the concept, talk about next steps/next meeting.

[2019-02-20 18:51] mhdawson commented on #115
Greet to see so much interest :)

[2019-02-25 13:05] mhdawson opened #131 "Node.js Foundation User Feedback Meeting 2019-03-01"
## Time

**UTC Fri 01-Mar-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 01-Mar-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 01-Mar-2019 10:00 (10:00 AM) |
| US / Central  | Fri 01-Mar-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 01-Mar-2019 12:00 (12:00 PM) |
| London        | Fri 01-Mar-2019 17:00 (05:00 PM) |

[2019-02-25 18:16] mihaiep commented on #105
closing this

[2019-02-25 18:16] #105 closed

[2019-02-25 18:17] #110 closed

[2019-02-28 16:03] SofiEstevez opened #132 "Adding a Timeline for info on goals, dates, have an overview of what's done and what's next"
Hi everyone! This is a timeline for goals that came out of meetings. I thought it would be good to have a short overview. It's meant to be updated as we complete tasks.

I was wondering if I should add this on the README.md or where?

Thanks!

@dshaw @mhdawson

## Current User Feedback Initiative timeline

* 2/22 - User feedback session blog posts complete
* 2/22 - Have 6-8 meetups confirmed to do

[2019-02-28 22:05] mhdawson commented on #132
I don't think it fits with the README.md but an issue like this to track progress on the effort to do user feedback sessions at meetups makes sense to me.

[2019-03-01 03:02] mihaiep commented on #131
Cannot attend this time. Thanks.

[2019-03-01 08:57] codeekage commented on #131
Hello All -

Can we spare sometime maybe before/end of today's meeting to discuss this: https://github.com/nodejs/website-redesign/issues/61

🙏

[2019-03-01 13:28] SofiEstevez commented on #132
Great! Thank you :)

[2019-03-01 16:20] ahmadnassri commented on #123
@ladyleet updated with details.

[2019-03-01 17:19] ahmadnassri commented on #123
notes from today's meeting #131

- should include "how to engage" guidelines for others who are interested, potentially related to comment: https://github.com/nodejs/user-feedback/issues/122#issuecomment-459927397 on listing existing members.

[2019-03-01 17:54] ladyleet opened #133 "User Feedback Metrics"
- how do we track the progress we got?
- how do we measure who ran a session?
- # of issue comments from the user feedback sessions?
- measuring growth of the user feedback sessions?
- communication and feedback loop needs to be created for user feedback session groups
- what is working or not working from the user feedback session? create an issue for every month for this? what can we do better t

[2019-03-01 18:03] ladyleet opened #134 "Cadence of User Feedback Topics at User Feedback Sessions and Ideas"
Upcoming sessions? Maybe twice a year rotating topics? Maybe quarterly? Etc?

Ideas
May 1 - Aug 31: Releases
Sept 1 - Jan 31: maybe we do a few topics here?
Feb 1 - Apr 30:

- Workers?
- Modules?
- Tooling?
- Package Maintenance?
- Diagnostics?
- Other technical issues?
- How easy is it to get involved in the community? What’s working and what’s not?
- End user topics - people using node - what ar

[2019-03-06 21:45] ladyleet commented on #123
thank you for this @ahmadnassri !

[2019-03-06 21:48] ladyleet commented on #115
article is ready to be reviewed! check it out - link above.

[2019-03-08 17:04] thekaeway commented on #115
Here is the list of people who are ready to do the node user feedback session

Adam Davis - London Node.js User Group ( 2771 developers, 31 past events)

Matt Walter - NYC Node.js ( 6018 developers, 80 past events)

Alex Fernández - Node.js Madrid ( 3610 developers, 45 past events)

Ioannis Nikolau - Node.js Athens ( 792 developers, 7 past events)

Erick Wendel - NodeBR - Sao Paulo ( 3187 develope

[2019-03-08 17:10] ladyleet commented on #115
this is great thank you @thekaeway !

[2019-03-11 12:05] mhdawson opened #137 "Node.js Foundation User Feedback Meeting 2019-03-15"
## Time

**UTC Fri 15-Mar-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 15-Mar-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 15-Mar-2019 10:00 (10:00 AM) |
| US / Central  | Fri 15-Mar-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 15-Mar-2019 12:00 (12:00 PM) |
| London        | Fri 15-Mar-2019 16:00 (04:00 PM) |

[2019-03-11 15:08] ladyleet commented on #123
@ahmadnassri thoughts on this draft? feel free to edit or talk about what needs to be added, etc. https://docs.google.com/document/d/1TYaj3E-3ojHZ6IIWTzbgWYabDmQnK8EF6LvmKPn480c/edit

// @mhdawson @dshaw

[2019-03-11 15:38] mihaiep commented on #123
Hi, are we sure we want this name "Node Enterprise Feedback Group" ? In my opinion will create confusion with the current User Feedback. Why not only Node Enterprise, or Node Enterprise Advisory (the old name)? Thanks

[2019-03-12 19:56] mhdawson commented on #123
In terms of the name how about 'Enterprise User Feedback sub-group', with the sub-group being the signal that it's its part of the larger user feedback working group.

[2019-03-12 20:03] mhdawson commented on #123
Added some comments on the doc @ladyleet

[2019-03-12 20:09] mhdawson commented on #115
I don't quite follow the "How to Article".  I expected a how to in terms of integrating a user-feedback session into your meetup but 80% seems to be about what meetups are?

[2019-03-12 21:57] ladyleet commented on #115
@mhdawson whoops! that was the wrong link. updated. https://docs.google.com/document/d/129syiwgsn_doJ2TD9zRqjSRN8qZEW9xj0xwPcEXGaSc/edit

[2019-03-14 16:32] mhdawson commented on #115
@ladyleet thanks that makes a lot more sense :).  Left a few comments/suggestions.

[2019-03-14 17:55] keywordnew commented on #115
The user-feedback through meetups initiative could have both an in-person and online component.

[#61](https://github.com/nodejs/website-redesign/issues/61) in website-redesign surfaced the need for feedback on docs. A survey is now available which could be used and iterated on to gather ongoing feedback.

[2019-03-15 16:02] ladyleet commented on #137
@mhdawson just making sure zoom link is accurate? i know the one for mentor meeting last week was not

[2019-03-15 16:35] ahmadnassri commented on #123
How about:

[2019-03-15 16:46] ahmadnassri opened #138 "Enterprise Focus Group labeling"
- [ ] PR into README to clearly define EFG members / segement from core group
- [ ] review and upate blog post accordingly #123
- [ ] find and update any further artifacts

[2019-03-15 16:53] joesepi opened #139 "Create issue template for in person user feedback session"
action item from 3/15 UF meeting

details in this doc: https://docs.google.com/document/d/129syiwgsn_doJ2TD9zRqjSRN8qZEW9xj0xwPcEXGaSc/edit

ref: #115
cc/ @ladyleet

[2019-03-25 09:52] WaleedAshraf commented on #115
Just to mention, this is one of the reason for CommComm Collaboration with Meetups like NodeSchool.
https://github.com/nodejs/community-committee/issues/280

[2019-03-25 12:05] mhdawson opened #141 "Node.js Foundation User Feedback Meeting 2019-03-29"
## Time

**UTC Fri 29-Mar-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 29-Mar-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 29-Mar-2019 10:00 (10:00 AM) |
| US / Central  | Fri 29-Mar-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 29-Mar-2019 12:00 (12:00 PM) |
| London        | Fri 29-Mar-2019 16:00 (04:00 PM) |

[2019-03-29 16:25] mihaiep commented on #141
No stream today. We had a short meeting today. Thank you Tracy for updates.

[2019-04-02 15:38] mihaiep commented on #141
April User feedback meetings moved from Friday 04/12 to Thursday 04/11 and 04/25 (Enterprise session).

[2019-04-03 17:17] ladyleet commented on #123
hey all! i put this through editing internally. check it out?

[2019-04-03 18:17] ahmadnassri opened #144 "NODE USER FEEDBACK SESSION- 2019-04-25 - Virtual - Node Enterprise Focus Group"
## Date & Time

**UTC Thursday 25-April-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 25-Apr-2019 09:00 (09:00 AM) |
| US / Mountain | Thu 25-Apr-2019 10:00 (10:00 AM) |
| US / Central  | Thu 25-Apr-2019 11:00 (11:00 AM) |
| US / Eastern  | Thu 25-Apr-2019 12:00 (12:00 PM) |
| London        | Thu 25-Apr-2019 17:0

[2019-04-03 19:35] boneskull commented on #144
Do we have participants lined up for this?

[2019-04-03 21:07] lizparody opened #145 "Request to join the User Feedback Committee"
Hello, my name is Liz, I'm Developer Relations Manager at NodeSource and I would like to join the User Feedback Committee.

I read [CONTRIBUTING.md](https://github.com/nodejs/user-feedback/blob/master/CONTRIBUTING.md) and also some information on the repo to catch on the existing work the team is doing. I would like to attend the next meeting on 2019-04-25 but I wanted to introduce myself first. L

[2019-04-04 10:17] ahmadnassri commented on #144
@boneskull yes, I'll be updating the ticket with their names and making a PR to the repo as well, once I get confirmation from them.

[2019-04-04 21:38] mhdawson commented on #145
Welcome and looking forward to meeting you at the next meeting :)

[2019-04-08 12:06] mhdawson opened #146 "Node.js Foundation User Feedback Meeting 2019-04-11"
## Time

**UTC Thu 11-Apr-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 11-Apr-2019 10:00 (10:00 AM) |
| US / Mountain | Thu 11-Apr-2019 11:00 (11:00 AM) |
| US / Central  | Thu 11-Apr-2019 12:00 (12:00 PM) |
| US / Eastern  | Thu 11-Apr-2019 13:00 (01:00 PM) |
| London        | Thu 11-Apr-2019 18:00 (06:00 PM) |

[2019-04-09 13:03] ShrawanLakhe commented on #144
how can one participate in these sessions?

[2019-04-11 00:09] mhdawson commented on #146
Not going to be able to make it today due to family obligations.

[2019-04-11 17:03] mihaiep commented on #146
Cannot join. Did you cancel the meeting?

[2019-04-11 17:04] ladyleet commented on #146
is the meeting starting?

[2019-04-11 17:15] ahmadnassri commented on #144
@ShrawanLakhe you can join the meeting as a participant on Zoom: https://zoom.us/j/353642832, or watch live stream on YouTube: https://www.youtube.com/c/nodejs+foundation/live

if you wish to become a member / active participant, then that is a good question, and I do not have a good answer to how-to yet, perhaps that would be a topic of discussion in the meeting itself. _(i.e. how to systematical

[2019-04-11 17:57] mihaiep commented on #146
Thank you Liz, Ann, Timur for being in the meeting.

[2019-04-11 18:03] mihaiep commented on #146
No Youtube recording today. An mp4 file (about 30min) here:https://drive.google.com/drive/folders/1maVaKfur0juPzM7Wc2PL2DKLbwRud9Us?usp=sharing

[2019-04-12 03:45] ShrawanLakhe commented on #144
@ahmadnassri Thank you for the info

[2019-04-14 21:16] #123 closed

[2019-04-14 21:17] ahmadnassri commented on #123
blog post is live: https://medium.com/@nodejs/introducing-the-node-js-enterprise-focus-group-312ff9f49aaa

[2019-04-15 14:30] mihaiep commented on #144
Thank you, Ahmad! blog post is live: https://medium.com/@nodejs/introducing-the-node-js-enterprise-focus-group-312ff9f49aaa

[2019-04-20 15:57] btholt opened #148 "Request to join the User Feedback Committee"
Hello! My name is Brian Holt and I'm a senior program manager at Microsoft focusing on Visual Studio Code and using Node.js on Azure. Would love to participate with this group, particularly the new enterprise initiative. I look forward to meeting you all at the next meeting!

[2019-04-20 17:10] mihaiep commented on #148
Hi Brian and welcome! Please take a look on #144. Looking forward to meeting you at the next meeting.

[2019-04-22 12:05] mhdawson opened #149 "Node.js Foundation User Feedback Meeting 2019-04-25"
## Time

**UTC Thu 25-Apr-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 25-Apr-2019 10:00 (10:00 AM) |
| US / Mountain | Thu 25-Apr-2019 11:00 (11:00 AM) |
| US / Central  | Thu 25-Apr-2019 12:00 (12:00 PM) |
| US / Eastern  | Thu 25-Apr-2019 13:00 (01:00 PM) |
| London        | Thu 25-Apr-2019 18:00 (06:00 PM) |

[2019-04-22 18:00] dominykas commented on #144
The headline here says the meeting time is:

But the table says:

I assume the UTC one is correct (i.e. it's 6pm in London, due to summer time), so the table should be updated?

Also is it intended to overlap with the meeting in #149?

[2019-04-23 14:33] mihaiep commented on #149
I think we need to postpone for May this meeting. We will have the session #144 and will create confusion

[2019-04-23 14:58] mhdawson commented on #149
Closing, As I see the regular meeting has been removed from the calendar.

[2019-04-23 14:58] #149 closed

[2019-04-23 14:59] mhdawson commented on #144
@ahmadnassri can you clear up the confusion over the time?  We either need to change this issue or the calendar entry.

[2019-04-23 16:09] ahmadnassri commented on #144
updated the time table, thank you @dominykas for catching that mistake, a couple of other cities were also fixed!

also, to note this meeting replaces #149

[2019-04-23 17:55] mhdawson commented on #144
@ahmadnassri I'm still confused the Calendar say 1 PM, while the entries in the first post says 12 EST in the list of times.  I'm assuming its 1EST since that is what is in the calendar and matches 5 PM UTC but the table of times in the first post seems to be out of date.

[2019-04-24 11:45] #122 closed

[2019-04-24 11:45] ahmadnassri commented on #122
completed in #144

[2019-04-24 12:19] ahmadnassri commented on #144
@mhdawson we should (if this doesn't exist already) talk about automating the issue creation with some cli tooling to solve these manual steps ;)

hopefully fixed the time table for the last time, thank you all!

[2019-04-24 16:04] mhdawson commented on #144
@ahmadnassri there is already automated generation.  The other issue that we closed was the automatically generated issue.  It works best for recurring meetings and automatically generates the issue from the node.js/calendar.  Once there is a cadence for the enterprise sub-group you can PR templates into: https://github.com/nodejs/create-node-meeting-artifacts/tree/master/templates as per https://

[2019-04-24 17:55] ahmadnassri commented on #144
this is good to know! thank you @mhdawson

[2019-04-25 17:11] mihaiep commented on #144
live now: https://www.youtube.com/watch?v=PhyHkdoQDac

[2019-04-25 17:31] dshaw commented on #144
Node.js release schedule JSON https://raw.githubusercontent.com/nodejs/Release/master/schedule.json

[2019-04-25 18:06] mihaiep commented on #144
Thank you for participating in this meeting. Meeting notes in a couple of hours will be available here:
https://docs.google.com/document/d/15RDN7deM6wf2X271zpayrRSSnqdGO_1S0kTvfx5Agwo

[2019-04-26 19:16] obensource opened #151 "NODE USER FEEDBACK SESSION - 5/13/19 - Portland - Oregon - USA - "How does Node.js support your daily work?""
# Topic
How does Node.js support your daily work?

## Potential Survey Points

### Use
What tools do you use day to day?
* What npm modules do you use a lot?
* Which Node.js core modules do you use frequently?

How do you currently use Node.js?
* For production deliverables?
* Only for development work?
* For fun and/or personal projects?

What version(s) of Node.js do you use, and why?

### Adopt

[2019-04-26 19:31] obensource commented on #115
Hi all! 👋

I'm super excited to make the user feedback session in Portland happen (via [pdxnode.org](http://pdxnode.org)) in June! 🙌

Here's the issue: https://github.com/nodejs/user-feedback/issues/151

Stoked to do this with y'all! 🎉🎉🎉

[2019-04-27 03:44] keywordnew commented on #115
Would love to make the first User Feedback session in Vancouver happen on the 7th of May. Would be super to have any resources that are ready to use!

The [Slides](https://docs.google.com/presentation/d/10ps715QthCsdTE_YmIRvfbYZC8onhQ7fPvlaYVISBAA/edit#slide=id.g50adb52472_0_5) seem to be in progress but the [How To](https://docs.google.com/document/d/129syiwgsn_doJ2TD9zRqjSRN8qZEW9xj0xwPcEXGaSc/e

[2019-04-29 16:16] mihaiep commented on #128
We have issue #151 opened. Closing this.

[2019-04-29 16:16] #128 closed

[2019-05-03 01:44] dshaw opened #152 "NODE USER FEEDBACK SESSION - 2019-05-02 - San Francisco - CA - USA - Node.js v12 Current"
Recorded live at SFNode. Hosted by GitHub. Sponsored by PayPal.
https://www.meetup.com/sfnode/events/mxstsmyzhbdb/

3 questions:
* What’s your upgrade cycle?
* Have you not upgraded due to package dependencies?
* Are you having any problems upgrading Node itself?

[2019-05-03 11:23] Ebolom opened #153 "Node electrical energy sources"
How does the node generate power supply energy to transmit supply of electrical power in the whole of the community to energised power to the real world.

[2019-05-06 12:05] mhdawson opened #154 "Node.js Foundation User Feedback Meeting 2019-05-10"
## Time

**UTC Fri 10-May-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 10-May-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 10-May-2019 10:00 (10:00 AM) |
| US / Central  | Fri 10-May-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 10-May-2019 12:00 (12:00 PM) |
| London        | Fri 10-May-2019 17:00 (05:00 PM) |

[2019-05-07 13:39] #129 closed

[2019-05-09 14:02] mhdawson commented on #152
@dshaw do you have the link to the recording?

[2019-05-10 16:00] #153 closed

[2019-05-10 16:00] dshaw commented on #152
@mhdawson https://www.youtube.com/watch?v=lcKrqk9NDiQ

[2019-05-10 16:01] dshaw commented on #152
@jasnell's slides https://docs.google.com/presentation/d/1sT0aFE1jMw7JUAoJwx2qZiITSeArk6281ejyZeD5GXU/edit#slide=id.g45eb3f058f_0_158

[2019-05-10 16:03] mihaiep commented on #154
Is the meeting canceled?

[2019-05-10 16:27] codeekage opened #155 "Aligning Node.js User-Feedback - Node.js Outreach Meetup"
Hello All -

The `outreach initiative` team have been working on setting up a system of organising meetups and also providing meetup.com accounts for interested folks willing to spin up Node Meetups across the globe.

In other, not to duplicate efforts with the `user-feedback session` how well can we align the meetup sessions and the new `node meetups initiative`?

[2019-05-10 17:19] ErickWendel commented on #152
@dshaw this link is private, could you put here the public link?

[2019-05-10 17:51] ErickWendel opened #156 "NODE USER FEEDBACK SESSION - 2019-05-16 - São Paulo - SP - Brazil - How does Node.js support your daily work?"
**Event Name (pt-br)**: NodeBR #50 - Testes com Node.js
**Event Name (en-us)**: NodeBR #50 - Working with Tests with Node.js
**Link**: https://www.meetup.com/pt-BR/nodebr/events/260955295/

[2019-05-11 00:13] dshaw commented on #152
@jasnell Can you either make the deck public or publish to some other public platform? Thank you.

[2019-05-17 02:19] khaosdoctor commented on #156
Live recorded feedback session at: https://youtu.be/xPdn0iTJ8MQ?t=3555

**Common points of discussion**

- Node-gyp often errors on version changes
  - Specially on node-sass and spdy packages
- Outdated or unmaintained packages often break when Node versions are updated
- Most people update node as soon as it is launched
- Most people are already using v12 or v10, no one is below those
- AWS make

[2019-05-20 12:05] mhdawson opened #157 "Node.js Foundation User Feedback Meeting 2019-05-24"
## Time

**UTC Fri 24-May-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 24-May-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 24-May-2019 10:00 (10:00 AM) |
| US / Central  | Fri 24-May-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 24-May-2019 12:00 (12:00 PM) |
| London        | Fri 24-May-2019 17:00 (05:00 PM) |

[2019-05-20 13:36] ladyleet commented on #115
@keywordnew @dshaw @ahmadnassri et al slides!!! @SofiEstevez did an amazing job at adding a design. https://docs.google.com/presentation/d/10ps715QthCsdTE_YmIRvfbYZC8onhQ7fPvlaYVISBAA/edit#slide=id.g5181466daa_0_208

[2019-05-20 22:08] keywordnew commented on #115
Wonderful slides! Thank you @SofiEstevez 👏🏽👏🏽👏🏽

I'm excited to begin running feedback sessions on a cadence this summer.

[2019-05-21 23:15] brumone commented on #156
I've had node-gyp issues as well. I'm not sure what is the cause, but it always occurred when I ran a Vue.js project for the first time on a machine. The errors were always related to node-sass as well.

[2019-05-21 23:22] IgorHalfeld commented on #156
Hmm.. this errors aren't related to Vue, it happen because `node-sass` package uses the lib-sass

[2019-05-24 00:11] khaosdoctor commented on #156
@brumone Yeah, `node-sass` package is always erroring since v10 or earlier, `node-gyp` seems not to be able to build something on `lib-sass`. This is a clear representation of a package which needs to be maintained

[2019-05-24 16:06] mhdawson commented on #157
A few of us has joined the meeting. But we see it was cancelled earlier due to a conflict.

[2019-05-24 16:15] mhdawson commented on #155
We discussed this in a user-feedback non-meeting (those who came to a cancelled meeting) and what we thought was:

1) outreach initiative would help a group start/run a general ongoing Node.js meeting
2) a user-feedback session is just one of the possible content choices for any given instance of that meeting.

So there is not necessarily an overlap, except that it would be good if the materials t

[2019-05-24 16:20] mhdawson commented on #157
No formal meeting today, closing.

[2019-05-24 16:20] #157 closed

[2019-06-03 12:06] mhdawson opened #158 "Node.js Foundation User Feedback Meeting 2019-06-07"
## Time

**UTC Fri 07-Jun-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 07-Jun-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 07-Jun-2019 10:00 (10:00 AM) |
| US / Central  | Fri 07-Jun-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 07-Jun-2019 12:00 (12:00 PM) |
| London        | Fri 07-Jun-2019 17:00 (05:00 PM) |

[2019-06-06 22:52] khaosdoctor opened #159 "NODE USER FEEDBACK SESSION - 2019-06-06 - São Paulo - SP - Brazil - How does Node.js support your daily work?"
Event Name (pt-br): NodeBR #51 - Typescript vs Javascript
Link: meetup.com/pt-BR/nodebr/events/260955295

cc/ . @IgorHalfeld @erickwendel

[2019-06-07 15:27] ErickWendel commented on #159
Most of our user have some fears about updating node because they are financial Systems. They said that the main problem for them is about compliance and to make sure that all application would be the same after updating.

Most of the users have no problem with node, they said that it works perfectly and stable. In this session, we didn't get any specific problem.

- We had 2 people still using No

[2019-06-07 16:00] khaosdoctor commented on #159
Again most people are not up-to-date with Node versions because of AWS Lambda or other serverless providers. This has come up in both feedback sessions we held.

[2019-06-12 14:41] obensource commented on #151
@dshaw if there's a date moving forward that works for you on the second Thursday of any month (when our meetup meets) – let us know! 🙏

We're meeting on:
* 7/11
* 8/8
* 9/12
* 10/10
* 11/14
* 12/12

Stoked for this – let me know if anyone has thoughts or opinions on how we can make this super great! 🎉

[2019-06-17 12:06] mhdawson opened #160 "Node.js Foundation User Feedback Meeting 2019-06-20"
## Time

**UTC Thu 20-Jun-2019 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 20-Jun-2019 10:00 (10:00 AM) |
| US / Mountain | Thu 20-Jun-2019 11:00 (11:00 AM) |
| US / Central  | Thu 20-Jun-2019 12:00 (12:00 PM) |
| US / Eastern  | Thu 20-Jun-2019 13:00 (01:00 PM) |
| London        | Thu 20-Jun-2019 18:00 (06:00 PM) |

[2019-06-19 21:01] ahmadnassri opened #161 "POSTPONED Node.js User Feedback Session - 2019-06-20 - Virtual - Enterprise Focus Group"
Suggest to postpone the scheduled "Enterprise Focus Group" session on June 20th, and either reclaim the time for a regular user-feedback session: https://github.com/nodejs/user-feedback/issues/160

or simply pick a new date in July.

[2019-06-19 21:47] mhdawson commented on #160
I can't make it this week at this time.

[2019-06-19 23:28] mihaiep commented on #160
It will be hard for me, since I'm travelling to Europe. thanks

[2019-06-20 13:22] joesepi commented on #161
I am not able to make this time slot today unfortunately.

[2019-06-20 15:59] ahmadnassri commented on #160
should we cancel it? cc: @dshaw

[2019-06-20 20:38] #160 closed

[2019-06-20 20:38] #161 closed

[2019-07-01 12:06] mhdawson opened #163 "Node.js Foundation User Feedback Meeting 2019-07-05"
## Time

**UTC Fri 05-Jul-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 05-Jul-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 05-Jul-2019 10:00 (10:00 AM) |
| US / Central  | Fri 05-Jul-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 05-Jul-2019 12:00 (12:00 PM) |
| London        | Fri 05-Jul-2019 17:00 (05:00 PM) |

[2019-07-03 12:21] jsoverson opened #164 "NODE USER FEEDBACK SESSION - 2019-07-11 - CARY - NC - USA - Topic TBD?"
https://www.meetup.com/triangle-nodejs/events/262716936/

I've been going back and forth with @ladyleet and @AnnMarieTonog figuring out a session for the RTP node.js group tentatively scheduled for next Thursday.

I'm still a little unclear on the details and structure of a user feedback session. Is there a master deck to use?

[2019-07-03 14:21] mhdawson commented on #164
@ladyleet can you point @jsoverson to the deck that you had extracted from the first session that was held?

[2019-07-03 18:23] hekike opened #165 "Node.js Diagnostics Survey 2019"
Hi, User Feedback WG,

the Node.js Diagnostics WG is looking for help to create and distribute a survey about diagnostics use cases with Node.js. Is this something you could help us?

*Context*

https://github.com/nodejs/diagnostics/issues/309

*Survey Proposal*

https://docs.google.com/document/d/1T2hGtYcUxLiBZD29daDNvZkgRZi4YPNHwYqZ8YtT0yw/edit#heading=h.6wa1g9fvakxd

*Help we are looking for*

[2019-07-03 18:24] mhdawson commented on #165
@joesepi FYI as I think you are leading the work on surveys at this point right?

[2019-07-04 13:07] mhdawson commented on #163
I'm not going to be able to make this meeting as I'm away on Holiday on Friday.

[2019-07-05 02:38] mihaiep commented on #163
I'm travelling and I cannot make it this time.

[2019-07-05 15:50] ahmadnassri commented on #163
+1 same here

[2019-07-05 16:03] joesepi commented on #163
Meeting canceled then?

[2019-07-05 17:58] bnb commented on #158
Going to close this since it's super old 👍

[2019-07-05 17:58] #158 closed

[2019-07-15 12:06] mhdawson opened #166 "Node.js Foundation User Feedback Meeting 2019-07-19"
## Time

**UTC Fri 19-Jul-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 19-Jul-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 19-Jul-2019 10:00 (10:00 AM) |
| US / Central  | Fri 19-Jul-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 19-Jul-2019 12:00 (12:00 PM) |
| London        | Fri 19-Jul-2019 17:00 (05:00 PM) |

[2019-07-17 02:37] mihaiep commented on #166
I'll be back on mid August. Thank you, enjoy the summer!

[2019-07-17 13:15] mhdawson commented on #166
I won't be able to make this meeting either (busy Friday's this month).

@dshaw are you going to be able to make this one?

[2019-07-17 17:51] joesepi commented on #165
Hello @hekike and extended diagnostics friends! 🎉

I'd be happy to help work through executing a survey.

First let me say that this process is a work in progress and I hope you'll help me dogfood it and make it better for future surveys. 🙌

The first thing to do would be to open an issue in this repo using the *User-Feedback Survey* template.

I would also include (as a follow on comment?) your q

[2019-07-19 16:05] dshaw commented on #166
Foundation team has updated Zoom credentials. I’m unable to start the meeting. Cancelling today’s meeting. Thanks everyone.

[2019-07-19 16:06] ladyleet commented on #166
thx @dshaw! haah @evahowe and i were waiting. :P

[2019-07-29 12:06] mhdawson opened #167 "Node.js Foundation User Feedback Meeting 2019-08-02"
## Time

**UTC Fri 02-Aug-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 02-Aug-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 02-Aug-2019 10:00 (10:00 AM) |
| US / Central  | Fri 02-Aug-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 02-Aug-2019 12:00 (12:00 PM) |
| London        | Fri 02-Aug-2019 17:00 (05:00 PM) |

[2019-08-02 15:31] ladyleet commented on #167
@dshaw is this happening today? // @ahmadnassri

[2019-08-02 15:33] ahmadnassri commented on #167
I'm ready :)

[2019-08-02 16:01] dshaw commented on #167
yes

[2019-08-02 16:04] dshaw commented on #167
Experiencing issues with Zoom

[2019-08-02 16:13] dshaw commented on #167
Sorry folks. Foundation updated the credentials and sent it to me, but the link expired. Can't get the Zoom off the ground.

[2019-08-02 16:17] ahmadnassri commented on #167
new link: https://zoom.us/j/4158859874

[2019-08-12 12:06] mhdawson opened #168 "Node.js Foundation User Feedback Meeting 2019-08-16"
## Time

**UTC Fri 16-Aug-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 16-Aug-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 16-Aug-2019 10:00 (10:00 AM) |
| US / Central  | Fri 16-Aug-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 16-Aug-2019 12:00 (12:00 PM) |
| London        | Fri 16-Aug-2019 17:00 (05:00 PM) |

[2019-08-16 16:01] mhdawson commented on #168
@dshaw are you going to start the meeting this week?  If not I can start it.

[2019-08-16 16:17] mihaiep commented on #168
Live on https://www.youtube.com/watch?v=q7MQTPtQxh0

[2019-08-26 12:06] mhdawson opened #169 "Node.js Foundation User Feedback Meeting 2019-08-30"
## Time

**UTC Fri 30-Aug-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Fri 30-Aug-2019 09:00 (09:00 AM) |
| US / Mountain | Fri 30-Aug-2019 10:00 (10:00 AM) |
| US / Central  | Fri 30-Aug-2019 11:00 (11:00 AM) |
| US / Eastern  | Fri 30-Aug-2019 12:00 (12:00 PM) |
| London        | Fri 30-Aug-2019 17:00 (05:00 PM) |

[2019-08-29 14:53] mihaiep commented on #169
Cannot make it this time (Universities tours with my son), thanks.

[2019-08-30 16:00] dshaw commented on #169
@mihaiep Thanks for the heads-up. Good luck!

[2019-08-30 16:01] dshaw commented on #169
@mhdawson Can you start the stream?